<div class="main">
  <div class="search">
    <label>Search</label> <br>
    <input type="text" class="input-field" [(ngModel)]="search" name="" id="">
  </div>
  <div class="shares" *ngIf="shares$|async as shares; else nodata">
    <div class="share" *ngFor="let share  of shares | search_share:search">

      <div class="detail">
        <h1>
          {{share.Amount | currency:'R'}} <br> 
          <span>
              {{share.CreateDate | date:'M/d/yy'}}
          </span>
        </h1>
      </div>

      <div class="detail" *ngIf="share.StatusId!='3'">
        <h1>
          {{share.Growth-share.Amount | currency:'R'}} <br> 
          <span>
            Profit today
          </span>
        </h1>
      </div>


      <div class="detail">
        <h1>
          {{share.ClientName}}
          <span>
            Client Name
          </span>
        </h1>
      </div>


    

      <div class="detail">
        <h1 class="active">
          {{share.DaysNow}} day(s) ago
          <span  *ngIf="share.DocumentUrl">
              <a href="{{share.DocumentUrl}}" target="_blank">View Attachment</a> <br>
              <a [routerLink]="['../../client-profile',share.ClientId]" >View Client</a>
            
          </span>
        </h1>
      </div>
    
      <div class="more" *ngIf="share.StatusId=='3'">
        <button (click)="Approve(share)">Approve</button>
      </div>


    </div>

  </div>

  <ng-template #nodata>
    <h1>
      No data
    </h1>
  </ng-template>
</div>
