<div class="growth container-col-1-of-2">
  <div>
    <h1>
      <span class="main">
        Growth driven.
      </span>
      <span class="paragraph">
        Our primary objective is to provide our clients with an easy to use platform that communicates to them, without
        requiring complex navigation on the system. Everything is self-descriptive and driven with a single context.
      </span>
    </h1>
  </div>
  <div>

    <img src="assets/images/home/image-2.svg" alt="" class="image-desktop">
    <img src="assets/images/home/image-2-mobile.png" alt="" class="image-mobile">
  </div>
</div>
