<div class="growth container-col-1-of-2">
    <div>
        <h1>
          <span class="main">
              Growth driven.
          </span>
          <span class="paragraph">
            In at iaculis lorem. Praesent tempor dictum tellus ut molestie. Sed sed.In at iaculis lorem. Praesent tempor
            dictum tellus ut molestie. Sed sed.In at iaculis lorem. Praesent tempor dictum tellus ut molestie.
          </span>
        </h1>
      </div>
      <div>
       
        <img src="assets/images/home/image-2.png" alt="" class="image-desktop">
    <img src="assets/images/home/image-2-mobile.png" alt="" class="image-mobile">
      </div>
</div>