<section class="modal account-modal shadow-black">
  <section class="modal-header">
    <img src="assets/images/home/logo-white-bg.svg" alt="" />
    <img
      src="assets/images/home/close-x.svg"
      (click)="closeModal()"
      class="close-btn"
      alt=""
    />
  </section>
  <section class="popup-body">
    <form
      [formGroup]="rForm"
      (ngSubmit)="insertBankingInfo(rForm.value)"
      class="box form-group"
      class="dashboard-forms"
    >
      <div class="col-1-of-2 ">
        <div class="controls">
          <label for="">BANK NAME</label> <br />
          <input
            type="text"
            class="input-field"
            placeholder="you bank name"
            formControlName="BankName"
          />
          <div
            class="alert"
            *ngIf="
              !rForm.controls['BankName'].valid &&
              rForm.controls['BankName'].touched
            "
          >
            BANK NAME is requried
          </div>
        </div>
        <div class="controls">
          <label for="">ACCOUNT NUMBER</label> <br />
          <input
            type="number"
            class="input-field"
            placeholder="your account number"
            formControlName="AccountNumber"
          />
          <div
            class="alert"
            *ngIf="
              !rForm.controls['AccountNumber'].valid &&
              rForm.controls['AccountNumber'].touched
            "
          >
            ACCOUNT NUMBER is requried
          </div>
        </div>
      </div>

      <div class="col-1-of-2 ">
        <div class="controls">
          <label for="">BRANCH CODE / NAME</label> <br />
          <input
            type="text"
            class="input-field"
            placeholder="bank branch code"
            formControlName="BankBranch"
          />
          <div
            class="alert"
            *ngIf="
              !rForm.controls['BankBranch'].valid &&
              rForm.controls['BankBranch'].touched
            "
          >
            BRANCH CODE is requried
          </div>
        </div>
        <div class="controls">
          <label for="">ACCOUNT TYPE</label> <br />
          <input
            type="text"
            class="input-field"
            placeholder="your account type"
            formControlName="AccountType"
          />
          <div
            class="alert"
            *ngIf="
              !rForm.controls['AccountType'].valid &&
              rForm.controls['AccountType'].touched
            "
          >
            ACCOUNT TYPE is requried
          </div>
        </div>
      </div>

      <div class=" col-1-of-2 small-nav">
        <div class="nav">
          <ul>
            <li>
              <span class="dot"></span>
            </li>
            <li>
              <span class="dot dot-active"></span>
            </li>
            <li>
              <span class="dot"></span>
            </li>
          </ul>
        </div>
        <div class="controls">
          <input
            type="submit"
            value="NEXT"
            class="button"
            [disabled]="!rForm.valid"
          />
        </div>
      </div>
    </form>
    <p class="step-number">
      BANKING INFORMATION
      <span>
        STEP 2 OF 3
      </span>
    </p>
  </section>
</section>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
