@import '../../../../../assets/sass/variables';
.index-container{
    padding: 5%;
    width: 85%;
    margin: -70px auto;
    margin-bottom: 5rem;
    background: $white-color;
    box-shadow: 10px 10px 34px 6px rgba(92, 92, 92, 0.2);

    .col-1-of-2 {
        grid-template-columns: 30% auto;
    }

    .form-group {

        .controls {
            margin: 2rem 0;            
        }
    }

    .dashboard-forms {
        padding-top: 0;

        .input-field {
            font-size: 1.3rem;
            font-weight: 400;
            box-shadow: 10px 10px 34px 6px rgba(92, 92, 92, 0.1);
            padding: 1.3rem;
            border-radius: 1.5rem;
        }

        .button {
            background: $purple-dark-color;
            letter-spacing: 0;
            float: none;
            padding: 1.2rem 8.5rem;
            font-size: 1.4rem;
            font-weight: 500;
        }

        label {
            color: $primary-color;
        }
    }
}