@import "../../../../../assets/sass/variables";
*{
  width: 100%;
}

.index-container {
  .heading-container {
    padding: .5%;
  }

  .col-1-of-1 {
    grid-gap: 0;
    margin-bottom: 0;
  }

  .col-1-of-2 {
    grid-template-columns: 40% auto;
    grid-gap: 0rem;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }
  }

  .form-group {
    .controls {
      margin: 1rem 0;
    }
  }

  .dashboard-forms {
   padding: 5%;

    .input-field {
      font-size: 1.3rem;
      font-weight: 400;
      padding:3%;
      border-radius: 5%;
      background: $blue-gray-color;

      @media only screen and (max-width: 600px) {
        padding: .5rem 1.4rem;
        border-radius: .8rem;

      }
    }

    .button {
      background: $purple-dark-color;
      letter-spacing: 0;
      float: none;
      padding: 1.2rem 8.5rem;
      font-size: 1.4rem;
      font-weight: 500;
    }

    label {
      color: $primary-color;
      text-transform: capitalize;
    }
  }
}

.graph {
  padding: 2%;
  // p-chart {
  //   // display: none;
  // }
}

.explainContract {
  color: #3498db;
  letter-spacing: 0ch;
}

.widrawalDay {
  color: #440082;
  letter-spacing: 0ch;
}

@media only screen and (max-width: 600px) {
  .index-container {
    .heading-container {
      padding: 0 2rem;
      background: transparent;

      h1 {
        size: 2rem;

        .heading-main {
          font-size: 1.11111rem;
          color: #440082;
          font-weight: 600;
        }
      }
    }

    .dashboard-forms {
      padding: 0 2rem;

      .button {
        float: initial;
        color: $purple-dark-color;

        &:disabled {
          cursor: no-drop;
          color: #999595;
        }
      }

      .small-nav .nav {
        text-align: left;
        background: $blue-gray-color;
        border-radius: 10rem;
        margin-bottom: 2rem;
      }

      input::placeholder {
        color: $gray-color;
        font-weight: 700;
        margin-left: 3rem;
      }

      .col-1-of-2 {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-gap: 0rem;
      }

      label {
        display: none;
      }

      .input-field {
        font-size: 1rem;
      }
    }

    .form-group {
      .controls {
        margin: 0;
      }
    }
  }
}
