<div class="main">
  <div class="nav-bar">
    <div class="logo">
      <a routerLink="">
        <img src="assets/images/home/icon-white-round.svg" alt="logo">
      </a>
    </div>
    <div class="access">
      <label>ACCOUNT ACCESS</label>
      <div class="col-1-of-3">
        <div class="icon"> <img src="assets/images/home/user.svg" alt="user icon"></div>
        <div class="login">
          <h1>
            <a routerLink="/sign-in"> login </a> <span class="dash"> - </span>
            <a routerLink="/client-personal-details/new"> sign-up </a>

          </h1>
        </div>
      </div>

    </div>
    <div class="nav-btn">
      <img src="assets/images/menu-big.svg" (click)="togleNav()" alt="menu icon">
    </div>
  </div>
  <div class="body-section">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-section">
    <app-footer-section></app-footer-section>
  </div>

  <div class="nav" *ngIf="showNav">
    <div class="top">
      <div>
          <a routerLink="">
              <img src="assets/images/home/icon-white-round.svg" alt="logo" class="logo"></a>
      </div>
      
      <div  class="close-btn" >
          <img src="assets/images/home/close-x.png" alt="close btn" id="close-menu" (click)="togleNav()">

      </div>
     
    </div>
    <app-home-nav></app-home-nav>
  </div>
</div>



<div *ngIf="showEmailSentScreen">
  <app-email-sent-screen></app-email-sent-screen>
</div>
<div *ngIf="showEmailNotificationScreen">
  <app-email-notification [message]="message"></app-email-notification>
</div>
<div *ngIf="showSpinner">
  <app-spinner></app-spinner>
</div>
