<div class="container">
  <div class="overlay"  *ngIf="showOverlay">
    <app-form-persol-details  (closeModalAction)="closeOptions($event)" *ngIf="showSignUp"></app-form-persol-details>
  </div>
<div class="container home">
  <header class="container-col-1-of-3">
    <div class="logo">
      <img src="assets/images/home/logo.png" alt="logo">
    </div>
    <div class="account">
      <div class="access">
        <h1>access account </h1>
      </div>
      <div class="login container-col-1-of-3">
        <img src="assets/images/home/user.svg" alt="user icon">
        <h1>login</h1>
        <h1 (click)="togleNav()" >sign-up</h1>
      </div>
    </div>
    <div class="menu">
      <img src="assets/images/home/menu-icon.png" alt="menu icon">
    </div>
  </header>

  <router-outlet></router-outlet>
</div>
 