<div class="overlay" *ngIf="showOverlay">
  <app-form-persol-details *ngIf="showSignUp"></app-form-persol-details>
  <app-form-banking-details *ngIf="showBankingInfoForm"></app-form-banking-details>
  <app-form-beneficiaries *ngIf="showBenefitariesForm"></app-form-beneficiaries>
  <app-sign-in  *ngIf="showSignIn"></app-sign-in>
  <app-forgot-password *ngIf="showForgotPassword"></app-forgot-password>
</div>
<div  *ngIf="showEmailSentScreen">
    <app-email-sent-screen></app-email-sent-screen>
</div>
<div  *ngIf="showEmailNotificationScreen">
    <app-email-notification [message]="message"></app-email-notification>
</div>
<div class="container home">
  <app-home-nav *ngIf="showNav"></app-home-nav>
  <header class="container-col-1-of-3">
    <div class="logo">
      <a routerLink="">
        <img src="assets/images/home/icon-white-round.svg" alt="logo"></a>
    </div>
    <div class="account">
      <div class="access">
        <h1>access account </h1>
      </div>
      <div class="login container-col-1-of-3">
        <img src="assets/images/home/user.svg" alt="user icon">
        <h1 (click)="openSignIn()">login</h1>
        <h1 (click)="openSignUp()">sign-up</h1>
      </div>
    </div>
    <div class="menu">
      <img src="assets/images/home/menu-icon.png" (click)="OpenNav()" alt="menu icon">
    </div>
    <div class="mobile-menu">
      <img src="assets/images/home/burger-menu.svg" (click)="OpenNav()" alt="burger menu" class="burger-menu">
    </div>
  </header>
  <router-outlet></router-outlet>
  <app-footer-section></app-footer-section>
</div>

