<section class="modal account-modal shadow-black">
  <section class="modal-header">
    <img src="assets/images/home/logo-white-bg.svg" alt="">
    <img src="assets/images/home/close-form.svg" (click)="closeModal()" class="close-btn" alt="">

  </section>
  <section class="popup-body">
    <form [formGroup]="rForm" (ngSubmit)="createClientAccount(rForm.value)" class="box form-group" class="dashboard-forms">
      <div class="col-1-of-2 ">
        <div class="controls">
          <label for="">First Name</label> <br />
          <input type="text" class="input-field" formControlName="FirstName" />
          <div class="alert" *ngIf="!rForm.controls['FirstName'].valid">
              First Name is requried
          </div>
        </div>
        <div class="controls">
          <label for="">Middle Name</label> <br />
          <input type="text" class="input-field" formControlName="MiddleName" />
        </div>
      </div>

      <div class="col-1-of-2 ">
        <div class="controls">
          <label for="">Surname</label> <br />
          <input type="text" class="input-field" formControlName="Surname" />
          <div class="alert" *ngIf="!rForm.controls['Surname'].valid">
              Surname is requried
          </div>
        </div>
        <div class="controls">
          <label for="">ID Number</label> <br />
          <input type="number" class="input-field" formControlName="IDNumber" />
          <div class="alert" *ngIf="!rForm.controls['IDNumber'].valid ">
              ID Number is requried
          </div>
        </div>

      </div>
      <div class="col-1-of-2 ">
        <div class="controls">
          <label for="">Email</label> <br />
          <input type="email" class="input-field" formControlName="Email" />
          <div class="alert" *ngIf="!rForm.controls['Email'].valid">
              Email is requried
          </div>
        </div>
        <div class="controls">
          <label for="">Cellphone Number</label> <br />
          <input type="text" class="input-field" formControlName="CellphoneNumber" />
          <div class="alert" *ngIf="!rForm.controls['CellphoneNumber'].valid ">
              Cellphone Number is requried
          </div>
        </div>

      </div>

      <div class="col-1-of-2 ">
        <div class="controls">
          <label for="">Gender</label> <br />
          <select  class ="input-field" formControlName="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="alert" *ngIf="!rForm.controls['Gender'].valid">
            Gender is requried
          </div>
        </div>
        <div class="controls">
            <label for="">Country</label> <br />
            <select  class ="input-field" formControlName="Country">
             
  <option value="Algeria"> Algeria</option>
  <option value="Angola"> Angola</option>
  <option value="Benin"> Benin</option>
  <option value="Botswana"> Botswana</option>
  <option value="Burkina Faso"> Burkina Faso</option>
  <option value="Burundi"> Burundi</option>
  <option value="Cabo Verde"> Cabo Verde</option>
  <option value="Cameroon"> Cameroon</option>
  <option value="Chad"> Chad</option>
  <option value="Comoros"> Comoros</option>
  <option value="Congo"> Congo</option>
  <option value="Djibouti"> Djibouti</option>
  <option value="Egypt"> Egypt</option>
  <option value="Equatorial Guinea"> Equatorial Guinea</option>
  <option value="Eritrea"> Eritrea</option>
  <option value="Eswatini"> Eswatini </option>
  <option value="Ethiopia"> Ethiopia</option>
  <option value="Gabon"> Gabon</option>
  <option value="Gambia"> Gambia</option>
  <option value="Ghana"> Ghana</option>
  <option value="Guinea"> Guinea</option>
  <option value="Guinea-Bissau"> Guinea-Bissau</option>
  <option value="Kenya"> Kenya</option>
  <option value="Lesotho"> Lesotho</option>
  <option value="Liberia"> Liberia</option>
  <option value="Libya"> Libya</option>
  <option value="Madagascar"> Madagascar</option>
  <option value="Malawi"> Malawi</option>
  <option value="Mali"> Mali</option>
  <option value="Mauritania"> Mauritania</option>
  <option value="Morocco"> Morocco</option>
  <option value="Morocco"> Morocco</option>
  <option value="Namibia"> V</option>
  <option value="Namibia"> Namibia</option>
  <option value="Niger"> Niger</option>
  <option value="Nigeria"> Nigeria</option>
  <option value="Rwanda"> Rwanda</option>
  <option value="Sao Tome and Principe"> Sao Tome and Principe</option>
  <option value="Senegal"> Senegal</option>
  <option value="Seychelles"> Seychelles</option>
  <option value="Sierra Leone"> Sierra Leone</option>
  <option value="Somalia"> Somalia</option>
  <option value="South Africa"> South Africa</option>
  <option value="South Sudan"> South Sudan</option>
  <option value="Sudan"> Sudan</option>
  <option value="Tanzania"> Tanzania</option>
  <option value="Togo"> Togo</option>
  <option value="Tunisia"> Tunisia</option>
  <option value="Uganda"> Uganda</option>
  <option value="Zambia"> Zambia</option>
  <option value="Zimbabwe"> Zimbabwe</option>
            </select>
            <div class="alert" *ngIf="!rForm.controls['Country'].valid">
                Country is requried
            </div>
          </div>

      </div>
      <div class="col-1-of-2 ">
          <div class="controls">
              <label for="">Province</label> <br />
              <input type="text" class="input-field" formControlName="Province" />
              <div class="alert" *ngIf="!rForm.controls['Province'].valid ">
                  Province Id is requried
              </div>
            </div>
        <div class="controls">
            <label for="">City</label> <br />
            <input type="text" class="input-field" formControlName="City" />
            <div class="alert" *ngIf="!rForm.controls['City'].valid">
                City is requried
            </div>
          </div>

      </div>
     
      <div class=" col-1-of-2 small-nav">
        <div class="nav">
          <ul>
            <li>
              <span class="dot dot-active"></span>
            </li>
            <li>
              <span class="dot "></span>
            </li>
            <li>
              <span class="dot"></span>
            </li>
          </ul>
         
        </div>
        <div class="controls">
          <input type="submit" value="NEXT" class="button" [disabled]="!rForm.valid" />
        </div>
      </div>

    </form>
    <p class="step-number">
        PERSONAL INFORMATION
        <span>
            STEP 1 OF 3
        </span>
    </p>

  </section>
</section>
<!-- <p-toast></p-toast> -->
