<div class="overlay" *ngIf="showOverlay">
    <app-buy-share  *ngIf="showBuyShares"></app-buy-share>
  </div>
  <div class="dashboard-nav" *ngIf="client">
    <nav class="topnav col-1-of-3">
      <div class="logo">
        <img src="assets/images/dashboard/logo-white-bg.svg" alt="">
        <!-- <span>{{mylink}}</span>
        <input type="button" (click)="copylink()" value="copy my link" class="button share-link" /> -->
      </div>
      <ul class="nav-tems">
     
       
      
     
      </ul>
      <ul>
        <li class="account container-col-1-of-3">
          <div class="nofication">
            <h1 class="dropbtn"><i class="fas fa-bell" (click)="not.toggle($event)"></i>
            </h1>
  
  
            <p-overlayPanel #not>
              <div class="notifications" *ngIf="notifications">
                <div *ngFor="let item of notifications">
                  <h1 class="notification" (click)="openNotification(item)">{{item.message}}</h1>
                </div>
              </div>
            </p-overlayPanel>
  
  
          </div>
          <div class="user" *ngIf="client">
            <p-overlayPanel #op1>
              <h1> <a routerLink="my-profile">my profile</a></h1>
              <h1><a routerLink="" (click)="logout()">Logout</a></h1>
            </p-overlayPanel>
            <img src="assets/images/dashboard/user-female.svg" *ngIf="client.Gender=='Female'"
              (click)="op1.toggle($event)" alt="user image">
            <img src="assets/images/dashboard/user-male.svg" *ngIf="client.Gender=='Male'" (click)="op1.toggle($event)"
              alt="user image">
          </div>
          <div class="user">
            <h1>Hello {{client?.FirstName}}</h1>
          </div>
  
        </li>
      </ul>
    </nav>
  </div>
  
