
<div class="main">
    <h1 class="form-headings">
        Create new password here!
      </h1>
      <form  *ngIf="rForm" [formGroup]="rForm" (ngSubmit)="updatePassword()" class="box form-group"
      class="dashboard-forms">
    
      <div class="col-1-of-2 ">
       
          <div class="controls">
              <label for="">New Password</label> <br />
              <input type="password" maxlength="15" class="input-field" formControlName="Password" />
             

              <div class="alert" *ngIf="rForm.controls['Password'].errors?.required">
                  Password is requried
                </div>
                <div class="alert"
                  *ngIf="rForm.controls['Password'].errors?.minlength">
                  Password must be at least 8 characters
                </div>
            </div>
  
            <div class="controls">
                <label for="">Confirm New Password</label><br />
                <input type="password" class="input-field" formControlName="confirmPassword" />
                <div class="alert" *ngIf="!rForm.controls['confirmPassword'].valid ">
                  Confirmation of password is requried
                </div>
              </div>
      </div>

  
  
  
  <div class=" col-1-of-2 small-nav">
  
    <div class="controls">
      <input type="submit" value="UPDATE" class="button" [disabled]="!rForm.valid" />
    </div>
  </div>
  </form>
  
  </div>