@import '../../../../../assets/sass/variables';

.assets {
    background: $white-gray-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
        padding-bottom: 2rem;
        margin: 0 15rem;
        .main{
            color: $blue-color;
            font-weight: 500;
            display:block;
        }
        .paragraph {
            color: $primary-color;
            font-size: 1rem;
            letter-spacing: 0;
            font-weight: 400;
        }
    }
    .management {
        margin: 0 15rem;

        h1 {
            margin: 0 5rem;
        }
    }
}