<div class="home">
  <h1>
    <span class="sub">
      invest in oil
    </span>
    <span class="big">
      african
    </span>
    <span class="big">
      fuel industry
    </span>
    <span class="percent">
      15 % Profit monthly
    </span>
    <span class="percent">
      5 % Referral bonuses
    </span>
  </h1>


  <div class="cta">
    <img src="assets/images/home/invest-btn.png" (click)="investNow()" alt="invest now button">
  </div>

</div>
<div class="index-container">
  <app-calculator></app-calculator>
  <app-control-section></app-control-section>
  <app-growth-section></app-growth-section>
  <app-apart-section></app-apart-section>
</div>
