@import '../../../../assets/sass/variables';

.home {
  // padding: 6rem;
  padding: 4% 9%;
  margin-bottom: 10rem;
  @media only screen and (max-width: 600px) {
    padding: 1rem;
    margin-bottom: 10rem;
  }

  h1 {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .8rem;
    @media only screen and (max-width: 600px) {
      letter-spacing: 0rem;
    }
    

    span {
      display: block;
    }

    .sub {
      font-size: 1.3rem;
      font-weight: 500;
      animation: moveInLeft .5s ease-out 0.4s;
      animation-fill-mode: backwards;
      @media only screen and (max-width: 600px) {
        font-size: .8rem;
      }
    }

    .big {
      font-size: 150%;
      animation: moveInLeft .5s ease-out 0.1s;
      animation-fill-mode: backwards;
      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    .percent {
      font-size: 1.1rem;
      text-transform: capitalize;
      font-weight: 400;
      animation: sildeDown .5s ease-out 1s;
      animation-fill-mode: backwards;
      @media only screen and (max-width: 600px) {
        font-size: .8rem;
      }
    }
  }
  .cta{
    img{
      float: right;
      margin-right: 10%;
      margin-top: 3rem;
      width: 20%;
      animation: moveInButton .5s ease-out 1s;
      animation-fill-mode: backwards;
      @media only screen and (max-width: 600px) {
        margin-right: 2rem;
        margin-top: 1rem;
        width: 10rem;

      }
    }
  }
}

.index-container {
  padding: 0;
  width: 85%;
  margin: -70px auto;
  margin-bottom: 5rem;
  background: $white-color;
  border-radius: .5rem;

  @media screen and (max-width: 600px) {
    width: 95%;
  }
}
