<div class="container-col-1-of-2">
  <div class="banner">
    <h1>
      <span class="sub">
        invest in oil
      </span>
      <span class="big">
        african
      </span>
      <span class="big">
        fuel industry
      </span>  
      <span class="percent">
        15 % profit monthly
      </span>
      <span class="percent">
        5 %  referral bonuses
      </span>
    </h1>
    <div class="cta">
      <img src="assets/images/home/invest-btn.png" alt="invest now button">
    </div>
  </div>  
</div>
<div class="monthly">
  <h1>
      <span class="percent">
          <span class="description">
              profit monthly
          </span>
          <span class="value">
            15%
          </span>
      </span>    
      <span class="percent">
          <span class="description">
              profit monthly
          </span>
          <span class="value">
            15%
          </span>
      </span>    
  </h1>
</div>