.index {
  background: #4a235a;
  background-image: url('../../../../assets/images/home/background-home.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

  header {
    padding: 1rem 2rem;

    .account {
      text-transform: uppercase;

      h1 {
        font-weight: 400;
      }

      .access {
        text-align: center;
        font-size: 0.4444rem;
        color: #AEA2A2;
      }

      .login.container-col-1-of-3 {
        grid-gap: 0;
        text-align: center;
        margin: auto;
        color: #FFFFFF;

        img {
          height: 3rem;
          margin: auto;
        }

        h1 {
          font-size: 20px;
        cursor: pointer;
        }
      }
    }

    .menu {
      margin: auto;
      img {
        height: 3rem;
        cursor: pointer;
      }
    }
  }
}

.banner {
    padding-top: 5rem;
    margin: auto 2rem;

    h1 {
        color:#ffffff;
        font-weight: 400;
        padding: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        .sub {           
         
            font-size: 2.5rem;
            display: block;
            margin-bottom: 1rem;         
        }
        .big {
            font-size: 5rem;
            display: block;
            font-weight: 800;
            margin-bottom: 1rem;  
        }

        .percent {
            font-size: 1rem;
            display: block;
            font-weight: 400;
            margin-bottom: 1rem;  
        }
    }

    .cta {
        margin: auto 2rem;
        img {
            cursor: pointer;
        }
    }

}   
.monthly {
    margin: auto 2rem;
    text-align: right;
    h1 {
        padding: 2rem;
        color:#ffffff;

        .percent {
            display: inline-block;
            text-align: left;
            margin-left: 2rem;
            .description {
                display: block;
                padding-bottom: 1.5rem;
                font-size: 1.8rem;
                font-weight: 300;
            }
        }
    }
}