<div class="index">
  <div class="container-col-1-of-2">
    <div class="banner">
      <h1>
        <span class="sub">
          invest in oil
        </span>
        <span class="big">
          african
        </span>
        <span class="big">
          fuel industry
        </span>
        <span class="percent">
          15 % profit monthly
        </span>
        <span class="percent">
          5 % referral bonuses
        </span>
      </h1>
      <div class="cta">
        <img src="assets/images/home/invest-btn.png" alt="invest now button">        
      </div>
      <div class="cta-mobile">
        <img src="assets/images/home/invest-mobile.png" alt="" class="image-mobile">  
      </div>
    </div>
  </div>
  <div class="monthly">
    <h1>
      <span class="percent">
        <span class="description">
          profit monthly
        </span>
        <span class="value">
          15%
        </span>
      </span>
      <span class="percent">
        <span class="description">
          referal bonuses
        </span>
        <span class="value">
          5%
        </span>
      </span>
    </h1>
  </div>
</div>
<div class="index-container">
    <app-calculator></app-calculator>
    <app-control-section></app-control-section>
    <app-growth-section></app-growth-section>
    <app-apart-section></app-apart-section>
</div>

<!-- <app-assets-component></app-assets-component>
<app-growth-section></app-growth-section>
<app-apart-section></app-apart-section>
<app-invest-section></app-invest-section> -->