<div class="main">
    <h1 class="heading">
        Withdraw
    </h1>
  
    <div class="body">
      <form [formGroup]="rForm" (ngSubmit)="withdraw(rForm.value)" class="box form-group dashboard-forms">
  
        <div class="col-1-of-1">
          <div class="controls">
            <label for="">Withdrawal amount <span class="currency"> (ZAR)</span></label> <br />
            <input type="number" class="input-field" formControlName="Amount" />
  
            <div class="explain">
              <p class="explainContract">Minimum withdrawal:  R1000.00</p>
              <p class="explainContract">Maximum withdrawal: {{funds | currency: "R" }}</p>
            </div>
            <div class="alert" *ngIf="!rForm.controls['Amount'].valid && rForm.controls['Amount'].touched">
                Share amount must be between R100 and  {{funds | currency: "R" }}.
            </div>
          </div>
         
          <div class="controls">
            <!-- <label for="">Period type</label> <br /> -->
            <hr>
         
  
            <div class="explain ">
                <p class="explainContract normal"> 1.  All withdrawals must be done between 4th and 28th of every month
            </div>
  
            <div class="explain ">
                <p class="explainContract normal"> 2.  All payments will be released on the 29th - 3rd of every month.
            </div>
           
        
            
          </div>
          <div class="controls button-container">
            <input type="submit" value="Withdraw" class="button" [disabled]="!rForm.valid" />
          </div>
          <div class="controls">
            <h1>
              <span class="error">
                {{error}}
              </span>
            </h1>
          </div>
        </div>
      
         </form>
    </div>
  
  </div>
  
  
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>  