<div class="cards">
  <div class="card">
    <h1>
      15
      <span>
        active shares 
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/money.svg" alt="">
    </div>
  </div>

  <div class="card">
    <h1>
      15
      <span>
        pending approval 
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/pending.svg" alt="">
    </div>
  </div>

  <div class="card">
    <h1>
      15
      <span>
       active clients
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/actice-clients.svg" alt="">
    </div>
  </div>
  
</div>