<div class="cards" *ngIf="stat$|async as stat; else nodata">
  <div class="card">
    <h1>
      {{stat.activeShares}}

      <span>
        active shares
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/money.svg" alt="">
    </div>
  </div>

  <div class="card">
    <h1>
      {{stat.pendingShares}}
      <span>
        pending approval
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/pending.svg" alt="">
    </div>
  </div>

  <div class="card">
    <h1>
      {{stat.activeClients}}
      <span>
        active clients
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/actice-clients.svg" alt="">
    </div>
  </div>

</div>

<ng-template #nodata>
  <h1>
    No stat
  </h1>
</ng-template>
