.cards{
    .card{
        h1{
            span{

            }
        }
        .img{
            img{
                width: 60%
            }
        }
    }
}

.records-0{
    background: #bdc3c7d7;
    cursor: not-allowed;    
    filter: blur(.0666rem);

}