<div class="cards" *ngIf="stat$|async as stat; else nodata">
  <div class="card records-{{stat.awiatingConframation}}" (click)="goToShares(3,stat.awiatingConframation)">
    <h1>
      {{stat.awiatingConframation}}

      <span>
        Awaiting Confirmation
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/money.svg" alt="">
    </div>
  </div>

  <div class="card records-{{stat.pendingWithdrawal}}" (click)="goToWithdrawals(stat.pendingWithdrawal)">
    <h1>
      {{stat.pendingWithdrawal}}

      <span>
        Pending Withdrawals
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/money.svg" alt="">
    </div>
  </div>
  <div class="card  records-{{stat.activeShares}}" (click)="goToShares(1,stat.activeShares)">
    <h1>
      {{stat.activeShares}}

      <span>
        active shares
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/money.svg" alt="">
    </div>
  </div>

  <div class="card  records-{{stat.pendingShares}}" (click)="goToShares(2,stat.pendingShares)">
    <h1>
      {{stat.pendingShares}}
      <span>
        pending/new shares
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/pending.svg" alt="">
    </div>
  </div>

  <div class="card  records-{{stat.activeClients}}" (click)="goToClients(4,stat.activeClients)">
    <h1>
      {{stat.activeClients}}
      <span>
        active clients
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/actice-clients.svg" alt="">
    </div>
  </div>

  <div class="card  records-{{stat.blockedClients}}"  (click)="goToClients(10,stat.blockedClients)">
    <h1>
      {{stat.blockedClients}}
      <span>
        Bloacked clients
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/actice-clients.svg" alt="">
    </div>
  </div>
  <!-- <div class="card  records-{{stat.waitingAccountConfirmation}}"  (click)="goToClients(4,stat.waitingAccountConfirmation)">
    <h1>
      {{stat.waitingAccountConfirmation}}
      <span>
        pending email Confirmation
      </span>
    </h1>
    <div class="img">
      <img src="assets/images/dashboard/admin/actice-clients.svg" alt="">
    </div>
  </div> -->

</div>

<ng-template #nodata>
  <h1>
    You have nothing to action!
  </h1>
</ng-template>
