<div class="main">
  <h1 class="heading">
      inquire
  </h1>

  <div class="body">
    <form [formGroup]="rForm" *ngIf="rForm" (ngSubmit)="submit(rForm.value)" class="box form-group dashboard-forms">

      <div class="col-1-of-1">
        <div class="controls">
          <label for="">Subject </label> <br />
          <input type="text" class="input-field" formControlName="subject" />

          <div class="explain">
            <p class="explainContract">If you inquiring about your shares please include the reference number in the subject</p>
          </div>
          <div class="alert" *ngIf="!rForm.controls['subject'].valid && rForm.controls['subject'].touched">
            Subject is required
          </div>
        </div>

        <div class="controls">
          <label for="">How can we help you </label> <br />
          <textarea class="input-field textarea" formControlName="body"></textarea>

          <div class="alert" *ngIf="!rForm.controls['body'].valid && rForm.controls['body'].touched">
            Body message is required
          </div>
        </div>
    
        <div class="controls button-container">
          <input type="submit" value="inquire" class="button" [disabled]="!rForm.valid" />
        </div>
        <div class="controls">
          <h1>
            <span class="error">
              {{error}}
            </span>
          </h1>
        </div>
      </div>
    
      <img *ngIf="loading" class="pl-2"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </form>
  </div>

</div>

<div class="awaiting" *ngIf="done">
  <div class="image">
      <img src="assets/images/dashboard/check-circle-regular.svg" alt="">
    </div>
  <div>
    <h1>Enquiry sent</h1>
    <p>
      Hi {{client?.name}} we have received your enquiry we're working on it.
      We will be in touch as soon as possible
        
    </p>
    <div class="btns">
    <a routerLink="/dashboard">  <button >HOME</button></a>
    </div>
  </div>
</div>