@import '../../../../../assets/sass/variables';

.container-main {
  padding: 2rem;
  padding-top: 8rem;
  background: $nav-background;
  color: white;
 

  .image {
    float: right;
  }

  h1 {
    margin: 0;
    padding: 2%;

    .heading-main {
      padding-bottom: 1rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    .paragraph {
      color: $white-color;
      font-size: 1rem;
      letter-spacing: 0;
      font-weight: 400;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
      text-align: center;
      .heading-main {
        font-size: 1.5555rem;
      }
    }
  }

  .management {
    margin: 0;
    padding: 2%;

    .content {
      color: $white-color;
      &.col-1-of-2 {
        grid-template-columns: 25% auto;
      }
    }
  }

  @media only screen and (max-width: 600px) {
   padding: 0;
   .management {
     .content {
       &.col-1-of-2 {
         grid-template-columns: 100%;
       }
       img {
         margin: 0 auto;
       }
     }
   }
  }
}

img.image-mobile {
   
}

@media only screen and (max-width: 600px) { 

}
