 <div class="container-main">
   <h1>
     <span class="heading-main">
       Smart management.
     </span>
   </h1>
   <div class="management col-1-of-2">
     <div class="content col-1-of-2">
       <img src="assets/images/home/cards-white.svg" alt="white card">
       <h1>
         <span class="paragraph">
           View multiple shares that you may have purchased through the system simultaneously through smart screens.
         </span>
       </h1>
     </div>
     <div class="content col-1-of-2">
       <img src="../../../../../assets/images/home/secured-online.svg" alt="secure online">
       <h1>
         <span class="paragraph">
            Data is user delegated what this means is that you have access to perform actions on your own account. T&C apply
         </span>
       </h1>
     </div>    
   </div>
 </div>
