
<div class="footer col-1-of-2" *ngIf="client">
  <div class="menu"  *ngIf="!IsUserAdmin">
    <div class="wallet">
      <a routerLink="/dashboard/"  routerLinkActive="active"  >
        <img src="assets/images/dashboard/wallet.svg"
          class="menu-icons" alt="wallet-icon">
        <h1>My wallet</h1>
      </a>
    </div>
<!-- 
    <div class="buy-shares">
        <a [routerLink]="['buy-share',client.ClientId]"  routerLinkActive="active"    >
          <img   src="assets/images/dashboard/shares.svg" class="menu-icons" alt="shares-icon">
          <h1>Buy shares</h1>
        </a>
      </div> -->

      <div class="referrals">
          <a [routerLink]="['my-refferals',client.ClientId]"    routerLinkActive="active"    >
            <img   src="assets/images/dashboard/users.svg" class="menu-icons" alt="shares-icon">
            <h1>My referrals</h1>
          </a>
        </div>
      <div class="referrals">
          <a [routerLink]="['enquire',client.ClientId]"    routerLinkActive="active"    >
            <img   src="assets/images/dashboard/inquire.svg" class="menu-icons" alt="shares-icon">
            <h1>Enquire</h1>
          </a>
        </div>
  
  </div>



  <div class="menu" *ngIf="IsUserAdmin">
      <div class="menu-item wallet">
        <a routerLink="dashboard" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
          <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="wallet-icon">
          <h1>Dashboard</h1>
        </a>
      </div>
  
  
  
  
      <div class="menu-item enquire">
        <a routerLink="clients/4" routerLinkActive="active" >
          <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="shares-icon">
          <h1>Clients</h1>
        </a>
      </div>
     
      <div class="menu-item enquire">
        <a routerLink="shares/1" routerLinkActive="active" >
          <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="shares-icon">
          <h1>Shares</h1>
        </a>
      </div>
      <div class="menu-item enquire">
        <a routerLink="with-drawals/2" routerLinkActive="active" >
          <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="shares-icon">
          <h1>Withdrawals</h1>
        </a>
      </div>
  
  
    </div>
</div>
