.footer {
  background: #440082;
  padding: 2%;
  display: grid;
  grid-template-columns: 20% auto;
  color: #fff;
  padding-top: 4%;

  .links {
      padding-top: 3%;
      text-align: center;
    ul {
      list-style: none;
      li {
        padding: 1%;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

}
