<div class="footer col-1-of-2">
  <div class="links" *ngIf="client">
    <h4><u>
        Fast Links
      </u></h4>
    <ul>
      <li>
        <a routerLink='dasboard'>My wallet</a>
      </li>
      <li>
        <a  [routerLink]="['my-refferals',client.ClientId]">My referrals</a>
      </li>
      <li>
        <a routerLink='dasboard'>My transactions</a>
      </li>
    </ul>
  </div>
  <div class="disclaimer">
    <h1>Disclaimer:</h1>
    <p>
      We need your sensitive information, such as your Id number and your banking detail. It is our obligation to let
      you know how we will use such information. If any of these information changes please contact us immediately to
      avoid complication during transactions you, we will respect your wishes.
    </p>
  </div>
</div>
