
<nav class="show-menu">
    
    <a routerLink="">
        <img src="assets/images/home/icon-white-round.svg" alt="logo" class="logo"></a>
    <img src="assets/images/home/close-x.png" alt="close btn" class="close-btn" id="close-menu" (click)="closeNav()">
    <ul class="container-col-1-of-4">
      <li>
        <a routerLink="" (click)="closeNav()">home</a>
        <span>Welcome !</span>
      </li>
      <li>
        <a routerLink="/how-it-works" (click)="closeNav()">how it works</a>
        <span>Putting it all together</span>
      </li>  
      <li>
        <a routerLink="/contact-us" (click)="closeNav()">contact us</a>
        <span>Let's connect</span>
      </li>
      <li>
        <div class="account">
          <div class="access">
            <h1>access account </h1>
          </div>
          <div class="login container-col-1-of-3">
            <img src="assets/images/home/user.svg" alt="user icon">
            <h1 (click)="togleSignIn()">login</h1>
            <h1 (click)="togleRegNav()">sign-up</h1>
          </div>
        </div>        
      </li>
    </ul>  
  </nav>