<nav class="show-menu">
    <img src="../../../../assets/images/home/logo-white-bg.svg" class="logo" alt="logo">
    <img src="../../../../assets/images/home/close-x.png" alt="close btn" class="close-btn" id="close-menu" (click)="closeNav()">
    <ul>
      <li>
        <a routerLink="" (click)="closeNav()">home</a>
        <span>Welcome !</span>
      </li>
      <!-- <li>
        <a routerLink="about-us" (click)="closeNav()">about</a>
        <span>Get to know us better</span>
      </li>
      <li>
        <a routerLink="our-services" (click)="closeNav()">our services</a>
        <span>What we are capable of</span>
      </li> -->
   
    </ul>  
  </nav>