


<div class="banner-betta">
  <div class="header-content">
    <h1>
      <span class="heading-main">
          Access your dashboard
      </span>
    </h1>
  </div>
</div>
<div class="main-container-betta">
  <div class="simple">
    <div class="tag">
      <h1>
        <span class="heading">
          Sign in
        </span>
        <div class="paragraph">
          Sign up quickly and be approved immediately to start investing
          and grasping this opportunity.
        </div>
      </h1>
    </div>
    <div class="form">
      <form
      [formGroup]="rForm"
      (ngSubmit)="Login()"
      class="box form-group"
      class="dashboard-forms"
    >
      <div class="col-1-of-1">
        <div class="controls">
          <label for="">Email</label> <br />
          <input type="email" class="input-field" formControlName="email" />
          <div class="alert" *ngIf="!rForm.controls['email'].valid">
            Email is requried
          </div>
        </div>
        <div class="controls">
          <label for="">Password</label> <br />
          <input
            type="password"
            class="input-field"
            formControlName="password"
          />
          <div class="alert" *ngIf="!rForm.controls['password'].valid">
            Password is requried
          </div>
        </div>
        <div class="controls">
          <input
            type="submit"
            value="sign in"
            class="button"
            [disabled]="!rForm.valid"
          />
        </div>
        <div class="actions">
            <div class="reset-pass">
                <a routerLink="/forgot-password">forgot password</a>
              </div>
              <div class="sign-up">
                <p>Don't have an account?</p>
                <a routerLink="/client-personal-details">Sign up</a>
              </div>
        </div>
       
      </div>
    </form>
    </div>
  </div>

</div>


<p-toast [style]="{marginTop: '80px'}"></p-toast>
