@import '../../../../../assets/sass/variables';
.banner-betta {
  background-image: url(../../../../../assets/images/home/background-home.png);
  @media only screen and (max-width: 600px) {
    background: $nav-background;

  }
}

.login{
  color: #2ecc71;
  padding: 0 1.5rem;
  font-weight: 700;
}