.card {
  grid-template-columns: 20% 80%;
  cursor: pointer;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }

  h1 {
    letter-spacing: 0;
    color: #3827b4;
    font-size: 130%;
    text-transform: capitalize;
    font-weight: 700;

    span {
      width: 100%;
      margin-top: 0.1%;
      font-weight: 500;
    }
  }

  img {
    width: 45%;
    margin: 2rem 0;
    @media only screen and (max-width: 600px) {
      width: 20%;
    }
  }
}

.withdraw {
  grid-template-columns: 100%;
  padding: 0.5rem;

  h1 {
    text-align: center;
    margin: 0.3rem auto;
    padding: 1.5555%;
  }

  .main {
    font-weight: 400;

    .label {
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      display: block;
      width: 100%;
    }
    .where-from {
      width: 100%;
      text-align: left;
      color: #6d2ba9;
      text-align: right;
    }
    .money-list {
      padding: 1rem 0rem;
      .available {
        display: block;
        color: rgb(0, 0, 0);
      }
    }
  }

  .action {
    width: 100%;
    // padding: 0.2rem 3rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid rgba(108, 43, 169, 0.671);
    button {
      // float: right;
      background: #6d2ba9;
      color: #fff;
      padding: 0.6rem;
      border-radius: 0.1rem;
      border: none;
      &:disabled {
        background: rgb(187, 187, 187);
      }
    }

    p{
      color: #e67e22;
      font-size: .7rem;
    }
  }
  .detals {
    grid-template-columns: 40% auto;
    margin: 0.5rem;
    padding: 0.3rem;
    //   border-left: .4rem solid #8e44ad;
    border-radius: 0;
    //   background:  #EADDF0;
    h4 {
      font-weight: 400;
      font-size: 0.8rem;
      margin: 0;
    }

    .key {
      text-align: left;
      h4 {
        font-weight: 400;
      }
    }

    .value {
      text-align: right;
      h4 {
        font-weight: 600;
        .label {
          display: block;
          text-align: right;
          color: #3827b4;
        }
      }
    }
  }
}
.withdrawal-notification {
  background: #3498db;
  grid-template-columns: 100%;
  padding: 0.7rem;
  h1 {
    span {
      color: #fff;
      text-transform: none;
    }
  }
  .action {
    text-align: center;
    button {
      border-radius: 0;
      background: #2ecc71;
      border: none;
      padding: 0.5rem;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
.client-ref {
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}
.cards {
  grid-template-columns: 50% auto;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}
.withdraw-holder {
  grid-template-columns: 100%;
}
