
.card {
    grid-template-columns: 20% 80%;
    cursor: pointer;
    h1 {
        letter-spacing: 0;
        color: #3827B4;
        font-size: 1.5555rem;
        text-transform: capitalize;
        font-weight: 700;
        span {
            width: 80%;
            margin-top: 0.5rem;
            font-weight: 500;
        }

    }
    img {
        height: 3rem;
        margin: 2rem 0;
    }
    .img-smaller{
        height: 2.4rem;
    }
}
.withdraw{
    opacity: .6;
    .bonus{
        font-weight: 700;
        color: green;
    }
}