
<div class="cards">
  <div class="card withdraw  client-ref" *ngIf="client$|async as client">
    <h1>
      <span class="label">
        Your Client Id <b>CTG-{{client.ClientRef}}</b>
      </span>
    </h1>
  </div>
  <div class="card withdraw">
    <h1>
      My Wallet
    </h1>
    <h1 class="main">
      <span class="label">Available Funds</span>
      {{availableFunds  | currency:'R'}}
      <span class="where-from" *ngFor="let data of details">
        <b> <i class="fas fa-chart-line"></i> </b> {{data.key}} ..... <b>{{data.value | currency:'R'}}</b>
      </span>
      <span class="where-from">
        <b><i class="far fa-heart"></i></b> Bonus earned ..... <b>{{totalBonuses | currency:'R'}}</b>
      </span>
    </h1>
    <div class="action">
      <button (click)="withdraw()" disabled>Withdraw</button>
    </div>

    <div class="card detals bonus">
      <div>
        <h4>
          Bonus earned
        </h4>
      </div>
      <div class="value">
        <h4>
          {{totalBonuses  | currency:'R'}}
          <span class="label" (click)="AddRef()">More</span>
        </h4>
      </div>
    </div>
    <div class="card detals bonus">
      <div>
        <h4>
          All profit earned
        </h4>
      </div>
      <div class="value">
        <h4>
          {{totalProfit  | currency:'R'}}

        </h4>
      </div>
    </div>
    <!-- <div class="card detals" *ngFor="let data of details">
      <div  class="key">
        <h4>
         {{data.key}}
        </h4>
      </div>
      <div class="value">
        <h4>
            {{data.value  | currency:'R'}}
        </h4>
      </div>
    </div> -->
    <!-- <h1 class="main">
      {{totalProfit  | currency:'R'}}
      <span class="label">Total Profit</span>
    </h1> -->
    <!-- <div class="detals">
      <h1 class="bonus">
        {{totalBonuses  | currency:'R'}}
        <span class="label">Bonus</span>
      </h1>
    </div> -->
    <!-- you currently do not have any withdrawable amount -->
  </div>
  <div class="card" (click)="AddRef()">
    <div class="img">
      <img class="img-smaller" src="assets/images/dashboard/user.svg" alt="">
    </div>
    <h1>
      Add referral
      <span>
        share your referral link to your friends and family.
      </span>
    </h1>
  </div>
  <div class="card" (click)="buyShares()">
    <div class="img">
      <img src="assets/images/dashboard/shares.svg" alt="">
    </div>
    <h1>
      buy share
      <span>
        buy Citgo oil company shares here.
      </span>
    </h1>
  </div>

</div>


<!-- totalProfit:number = 0;
availableFunds=0;
totalBonuses=0; -->
