<div class="cards withdraw-holder">
    <div class="card withdrawal-notification" *ngIf="client$|async as client">
        <h1>
          <span class="label">
             {{withdrawalUpdate}}
          </span>

        </h1>
      </div>
  <div class="card withdraw">
    <h1>
      My Wallet
    </h1>
    <h1 class="main">
      <span class="label">Available Funds</span>
      {{availableFunds  | currency:'R'}}
      <!-- <span class="where-from money-list" *ngFor="let data of details">
        <b> <i class="fas fa-chart-line"></i> </b> {{data.key}} ..... <b>{{data.value | currency:'R'}}</b>
        <span class="available">Available.......  {{data.available | currency:'R' }}</span>
      </span> -->
      <span class="where-from money-list">
        <b><i class="far fa-heart"></i></b> Profit earned ..... <b>{{totalProfit | currency:'R'}}</b>
        <span class="available">Available.......  {{availableProfit | currency:'R' }}</span>
      </span>

      <span class="where-from money-list">
        <b><i class="far fa-heart"></i></b> Bonus earned ..... <b>{{totalBonuses | currency:'R'}}</b>
        <span class="available">Available.......  {{availableBonus | currency:'R' }}</span>
      </span>
    </h1>
    <div class="action">
      <button (click)="withdraw()" [disabled]="!withDisabled">Withdraw</button>
    </div>
    <div class="card detals bonus">
      <div>
        <h4>
         Total withdrawn
        </h4>
      </div>
      <div class="value">
        <h4>
          {{withdrawn  | currency:'R'}}

        </h4>
      </div>
    </div>
  </div>
</div>

<div class="cards">
  <div class="card withdraw  client-ref" *ngIf="client$|async as client">
    <h1>
      <span class="label">
        Your Client Id <b>CTG-{{client.ClientRef}}</b>
      </span>
    </h1>
  </div>
  <div class="card" (click)="AddRef()">
    <div class="img">
      <img class="img-smaller" src="assets/images/dashboard/user.svg" alt="">
    </div>
    <h1>
      Add referral
      <span>
        share your referral link to your friends and family.
      </span>
    </h1>
  </div>
  <div class="card" (click)="buyShares()">
    <div class="img">
      <img src="assets/images/dashboard/shares.svg" alt="">
    </div>
    <h1>
      buy share
      <span>
        buy Citgo oil company shares here.
      </span>
    </h1>
  </div>

</div>


<!-- totalProfit:number = 0;
availableFunds=0;
totalBonuses=0; -->
