<h1 class="heading">
  quick start
</h1>
<div class="cards">
  <div class="card">
    <div class="img">
      <img src="assets/images/dashboard/user.svg" alt="">
    </div>
    <h1>
      Add referral
      <span>
        share your referral link to your friends and family.
      </span>
    </h1>
  </div>
  <div class="card">
    <div class="img">
      <img src="assets/images/dashboard/shares.svg" alt="">
    </div>
    <h1>
      buy share
      <span>
        buy Citgo oil company shares here.
      </span>
    </h1>
  </div>
  <div class="card withdraw">
    <div class="img">
      <img src="assets/images/dashboard/withdraw.svg" alt="">
    </div>
    <h1>
      withdraw
      <span>
        you currently do not have any withdrawable amount
      </span>
    </h1>
  </div>
</div>
