<div class="main-container" *ngIf="client">
  <div class="female-header">


  </div>


  <div class="cards" *ngIf="client">
    <div class="card main-profile">
      <div class="back">
        <a (click)="back()">
          <img src="assets/images/dashboard/back.svg" alt="">
        </a>
      </div>
      <h1 class="profile-heading">
        My Profile
      </h1>
      <div class="prof-pic">
        <img  *ngIf="client.Gender=='Female'" src="assets/images/dashboard/user-profile-female.svg" alt="">
        <img *ngIf="client.Gender=='Male'" src="assets/images/dashboard/user-profile-male.svg" alt="">
      </div>
      <div class="user-details">
        <h1>
          {{fullname}}
        </h1>
        <p>
          {{email}}
        </p>
      </div>
      <div class="actions">
        <a class="action" routerLink="../update-password">Update Password</a>
        <a class="action" (click)="sendChangeEmailConfirmation()">Update Email/Cell No</a>
    
        
      </div>
    </div>
    <div class="card">
      <h1>Personal Details</h1>
      <div class="col-1-of-2">

        <div class="details-sec-2">
          <h1>
            {{client.FirstName }} {{client.Surname }}
            <span class="label">Full Name</span>
          </h1>

          <h1>
            {{client.Gender}}
            <span class="label">Gender</span>
          </h1>
          <h1>
            {{client.IDNumber}}
            <span class="label">ID Number</span>
          </h1>
          <h1>
            {{client.Country}}
            <span class="label">Country</span>
          </h1>
          <h1>
            {{client.Province}}
            <span class="label">Province</span>
          </h1>
          <h1>
            {{client.City}}
            <span class="label">City</span>
          </h1>
          <div></div>
          <div>
            <a class="edit" [routerLink]="['../update-personal-info',client.ClientId]">EDIT</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h1>
        Your bank details to withdraw money from Citgo
      </h1>
      <div class="col-1-of-2" *ngIf="client.BankName; else nobanking">

        <div class="details-sec-2">
          <h1>
            {{client.BankName }}
            <span class="label">Bank Name</span>
          </h1>

          <h1>
            {{client.AccountHolder}}
            <span class="label">Acc Holder</span>
          </h1>
          <h1>
            {{client.AccountNumber}}
            <span class="label">Acc Number</span>
          </h1>
          <h1>
            {{client.AccountType}}
            <span class="label">Acc Type</span>
          </h1>
          <div></div>
          <div>
            <a class="edit" [routerLink]="['../update-banking-info',client.ClientId]">EDIT</a>
          </div>
        </div>
      </div>
      
      <ng-template #nobanking>
          <p class="nodata">You have no bank details
  
              <a class="edit" [routerLink]="['../update-banking-info',client.ClientId]">ADD</a>
          </p>
        </ng-template>
    </div>

    <div class="card" *ngIf="beneficiaries">
      <h1>
        Beneficiaries
      </h1>
      <div class="col-1-of-2" *ngIf="beneficiaries.length; else noben">

        <div class="details-sec-2" *ngFor="let data of beneficiaries">
          <h1>
            {{data.Name }} {{data.Surname }}
            <span class="label">Full Name</span>
          </h1>

          <h1>
            {{data.Relation}}
            <span class="label">Relation</span>
          </h1>

          <div></div>
          <div>
            <a class="edit" [routerLink]="['../update-benefitiaries',data.BeneficiaryId]">EDIT</a>
          </div>
        </div>
      </div>

      <ng-template #noben>
        <p class="nodata">You have no beneficiaries

        </p>
      </ng-template>
      <p class="nodata">
        <a [routerLink]="['../update-benefitiaries','please-add-new']" class="edit"> ADD NEW</a>
      </p>
      
    </div>
  </div>

</div>


<div class="awaiting" *ngIf="isDone">
    <div class="image">
      <img src="assets/images/dashboard/hourglass-half-solid.svg" alt="">
    </div>
    <div>
      <h1>Update Contact details</h1>
      <p>
          To make sure you don't lose access to your profile, we have sent you an email to <b>{{email}}</b>

          Please click the link in the message to change your email address and your cell phone number.
      </p>
      <div class="btns">
        <button (click)="back()">DONE</button>
      </div>
    </div>
  </div>