<div class="main-container">
  <h1>
    my profile
  </h1>
  <form [formGroup]="rForm" (ngSubmit)="updateProfile()" class="box form-group" class="dashboard-forms">
    <div class="showError" *ngIf="error">
      <h1>
        <span class="alert">
          {{error}}
        </span>
      </h1>
    </div>
    <div class="col-1-of-2">
      <div class="col-1-of-1">
        <h1>Personal details</h1>
        <div class="col-1-of-2">
          <div class="controls">
            <label for="">FirstName</label> <br />
            <input type="text" class="input-field" formControlName="FirstName" />
            <div class="alert" *ngIf="!rForm.controls['FirstName'].valid && rForm.controls['Email'].touched">
              FirstName is requried
            </div>
          </div>
          <div class="controls">
            <label for="">Surname</label> <br />
            <input type="text" class="input-field" formControlName="Surname" />
            <div class="alert" *ngIf="!rForm.controls['Surname'].valid && rForm.controls['Email'].touched">
              Surname is requried
            </div>
          </div>
        </div>
        <div class="controls">
          <label for="">Id number</label> <br />
          <input type="number" class="input-field" formControlName="IDNumber" />
          <div class="alert" *ngIf="!rForm.controls['IDNumber'].valid && rForm.controls['IDNumber'].touched">
            Email is requried
          </div>
        </div>
        <div class="col-1-of-2">
          <div class="controls">
            <label for="">Email</label> <br />
            <input type="email" class="input-field" formControlName="Email" />
            <div class="alert" *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">
              Email is requried
            </div>
          </div>
          <div class="controls">
            <label for="">Phone number</label> <br />
            <input type="text" class="input-field" formControlName="CellphoneNumber" />
            <div class="alert" *ngIf="!rForm.controls['CellphoneNumber'].valid && rForm.controls['Email'].touched">
              Cellphone Number is requried
            </div>
          </div>
        </div>

        <div class="controls">
          <label for="">Address</label> <br />
          <input type="text" class="input-field" formControlName="Address" />
          <div class="alert" *ngIf="!rForm.controls['Address'].valid && rForm.controls['Email'].touched">
            Address Number is requried
          </div>
        </div>
        <div class="col-1-of-2">
          <div class="controls">
            <label for="">City</label> <br />
            <input type="email" class="input-field" formControlName="City" />
            <div class="alert" *ngIf="!rForm.controls['City'].valid && rForm.controls['Email'].touched">
              City is requried
            </div>
          </div>
          <div class="controls">
            <label for="">Province</label> <br />
            <input type="email" class="input-field" formControlName="Province" />
            <div class="alert" *ngIf="!rForm.controls['Province'].valid && rForm.controls['Email'].touched">
              Province is requried
            </div>
          </div>
          <div class="controls">
            <label for="">PostCode</label> <br />
            <input type="email" class="input-field" formControlName="PostCode" />
            <div class="alert" *ngIf="!rForm.controls['PostCode'].valid && rForm.controls['Email'].touched">
              PostCode is requried
            </div>
          </div>
          <div class="controls">
            <label for="">Country</label> <br />
            <input type="email" class="input-field" formControlName="Country" />
            <div class="alert" *ngIf="!rForm.controls['Country'].valid && rForm.controls['Email'].touched">
              Country is requried
            </div>
          </div>
        
        </div>
      </div>
      <div class="col-1-of-1">
        <h1>Change password</h1>
        <div class="controls">
          <label for="">Old Password</label><br />
          <input type="password" class="input-field" formControlName="oldPassword" />
          <div class="alert" *ngIf="!rForm.controls['oldPassword'].valid && rForm.controls['oldPassword'].touched">
            Old of password is requried
          </div>
        </div>
        <div class="controls">
          <label for="">New Password</label><br />
          <input type="password" class="input-field" formControlName="newPassword" />
          <div class="alert" *ngIf="!rForm.controls['newPassword'].valid && rForm.controls['newPassword'].touched">
            New password is requried
          </div>
        </div>
        <div class="controls">
          <label for="">Confirm New Password</label><br />
          <input type="password" class="input-field" formControlName="confirmPassword" />
          <div class="alert"
            *ngIf="!rForm.controls['confirmPassword'].valid && rForm.controls['confirmPassword'].touched">
            Confirmation of password is requried
          </div>
        </div>
      </div>
      <div></div>
      <div class="controls">
          <input type="submit" value="update profile" class="button" [disabled]="!rForm.valid" />
        </div>     
    </div>
  
    <!-- <img *ngIf="loading" class="pl-2"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
 
  </form>
</div>
