<div class="main-container">
  <h1>
    my profile
  </h1>
  <p-accordion>


    <p-accordionTab header="Personal details">
      <form [formGroup]="rForm" (ngSubmit)="updateProfile()" class="box form-group" class="dashboard-forms">
        <div class="col-1-of-2">
          <div class="col-1-of-1">
            <div class="col-1-of-2">
              <div class="controls">
                <label for="">FirstName</label> <br />
                <input type="text" class="input-field" formControlName="FirstName" />
                <div class="alert" *ngIf="!rForm.controls['FirstName'].valid && rForm.controls['Email'].touched">
                  FirstName is requried
                </div>
              </div>
              <div class="controls">
                <label for="">Surname</label> <br />
                <input type="text" class="input-field" formControlName="Surname" />
                <div class="alert" *ngIf="!rForm.controls['Surname'].valid && rForm.controls['Email'].touched">
                  Surname is requried
                </div>
              </div>
              <div class="controls">
                  <label for="">Id number</label> <br />
                  <input type="text"  maxlength="16" class="input-field" formControlName="IDNumber" />
                  <div class="alert" *ngIf="rForm.controls['IDNumber'].errors?.required">
                    ID Number is required
                  </div>
                  <div class="alert"
                    *ngIf="rForm.controls['IDNumber'].errors?.minlength || rForm.controls['IDNumber'].errors?.maxlength">
                    ID Number/passport must be 8 to 16 characters long
                  </div>
                </div>
            </div>
        
          </div>
        
          <div></div>
          <div class="controls">
              <input type="submit" value="update personal details" class="button" [disabled]="!rForm.valid" />
            </div>     
        </div>
   
      </form>
    </p-accordionTab>



    <p-accordionTab header="Contact details">
      <form [formGroup]="rForm" (ngSubmit)="updateProfile()" class="box form-group" class="dashboard-forms">
        <div class="col-1-of-2">
          <div class="col-1-of-1">
          
            <div class="col-1-of-2">
              <div class="controls">
                <label for="">Email</label> <br />
                <input type="email" disabled class="input-field" formControlName="Email" />
                <div class="alert" *ngIf="!rForm.controls['Email'].valid && rForm.controls['Email'].touched">
                  Email is requried
                </div>
              </div>
              <div class="controls">
                <label for="">Phone number</label> <br />
                <input type="text" class="input-field" formControlName="CellphoneNumber" />
                <div class="alert" *ngIf="!rForm.controls['CellphoneNumber'].valid && rForm.controls['Email'].touched">
                  Cellphone Number is requried
                </div>
              </div>
            </div>
    
          
          </div>
       
          <div></div>
          <div class="controls">
              <input type="submit" value="Contact details" class="button" [disabled]="!rForm.valid" />
            </div>     
        </div>
      
    
      </form>
    </p-accordionTab>
    <p-accordionTab header="Address details">
      <form [formGroup]="rForm" (ngSubmit)="updateProfile()" class="box form-group" class="dashboard-forms">
        
        <div class="col-1-of-2">
          <div class="col-1-of-1">
       
            <div class="col-1-of-2">
                <div class="controls">
                    <label for="">Country</label> <br />
                    <input type="email" class="input-field" formControlName="Country" />
                    <div class="alert" *ngIf="!rForm.controls['Country'].valid && rForm.controls['Email'].touched">
                      Country is requried
                    </div>
                  </div>
                
              <div class="controls">
                <label for="">City</label> <br />
                <input type="email" class="input-field" formControlName="City" />
                <div class="alert" *ngIf="!rForm.controls['City'].valid && rForm.controls['Email'].touched">
                  City is requried
                </div>
              </div>
              <div class="controls">
                <label for="">Province</label> <br />
                <input type="email" class="input-field" formControlName="Province" />
                <div class="alert" *ngIf="!rForm.controls['Province'].valid && rForm.controls['Email'].touched">
                  Province is requried
                </div>
              </div>
            
             
            </div>
          </div>
          
          <div></div>
          <div class="controls">
              <input type="submit" value="update profile" class="button" [disabled]="!rForm.valid" />
            </div>     
        </div>
   
      </form>
    </p-accordionTab>
    <p-accordionTab header="Password  Update">
        <form [formGroup]="rForm" (ngSubmit)="updateProfile()" class="box form-group" class="dashboard-forms">
        
            <div class="col-1-of-2">
          
              <div class="col-1-of-1">
                <h1>Change password</h1>
                <div class="controls">
                  <label for="">Old Password</label><br />
                  <input type="password" class="input-field" formControlName="oldPassword" />
                  <div class="alert" *ngIf="!rForm.controls['oldPassword'].valid && rForm.controls['oldPassword'].touched">
                    Old of password is requried
                  </div>
                </div>
                <div class="controls">
                  <label for="">New Password</label><br />
                  <input type="password" class="input-field" formControlName="newPassword" />
                  <div class="alert" *ngIf="!rForm.controls['newPassword'].valid && rForm.controls['newPassword'].touched">
                    New password is requried
                  </div>
                </div>
                <div class="controls">
                  <label for="">Confirm New Password</label><br />
                  <input type="password" class="input-field" formControlName="confirmPassword" />
                  <div class="alert"
                    *ngIf="!rForm.controls['confirmPassword'].valid && rForm.controls['confirmPassword'].touched">
                    Confirmation of password is requried
                  </div>
                </div>
              </div>
              <div></div>
              <div class="controls">
                  <input type="submit" value="update Password" class="button" [disabled]="!rForm.valid" />
                </div>     
            </div>
        
          </form>   
    </p-accordionTab>
</p-accordion>
  
</div>
