<div class="apart">
    <h1>
        <span class="main">
            What sets us apart
        </span>
      </h1>
      <div class="points container-col-1-of-2">
        <div>
          <div class="point container-col-1-of-2">
            <img src="assets/images/home/bullet-1.png" class="image" alt="bullet 1">
            <h1>
              <span class="paragraph">
                  Platform availability 24/7
              </span>
            </h1>
          </div>
          <div class="point container-col-1-of-2">
              <img src="assets/images/home/bullet-2.png" class="image" alt="bullet 2">
              <h1>
                <span class="paragraph">
                    Easy to use graphical view of account
                </span>
              </h1>
            </div>
        </div>
        <div>
          <div class="point container-col-1-of-2">
            <img src="assets/images/home/bullet-3.png" class="image" alt="bullet 3">
            <h1>
              <span class="paragraph">
                We handle the finance while you enjoy your life.
              </span>
            </h1>
          </div>
          <div class="point container-col-1-of-2">
              <img src="assets/images/home/bullet-4.png" class="image" alt="bullet 4">
              <h1>
                <span class="paragraph">
                    Online support & queries 
                </span>
              </h1>
            </div>
        </div>         
      </div>
</div>