<div class="main">
  <h1 class="heading">
    Payment details
  </h1>
  <p class="intro">
    To finalise your investment process, please deposit your share order amount to the given details below, and make sure
    you use the correct reference number as displayed below to avoid <i> delays in your shares approval. </i>
  </p>
  <!-- <hr> -->
  <div class="body">
    <div class="order">

      <div class="banking fnb">

        <div class="info ">
          <b>Bank Name</b>: FNB <br>
          <b>Account No.</b>:1111 1111 111 <br>
          <b>Recipient</b>: Citgo Africa <br>
          <b>Branch</b>: 225 485 <br>
          <b>Amount</b> : R50000 <br>
          <b>Reference</b> : 2158S1 <br>
        </div>
        <div class="image">
          <img src="assets/images/dashboard/fnb.svg" alt="">
        </div>

      </div>
      <h1 class="or">
        OR
      </h1>
      <div class="banking sbank">

        <div class="info ">
          <b>Bank Name</b>: Starndad bank  <br>
          <b>Account No.</b>: 1111 1111 111 <br>
          <b>Recipient</b>: Citgo Africa <br>
          <b>Branch</b>: 225 485 <br>
          <b>Amount</b> : R50000 <br>
          <b>Reference</b> : 2158S1 <br>
        </div>
        <div class="image">
          <img src="assets/images/dashboard/stbank.svg" alt="">
        </div>

      </div>
      <div class="btns">
          <button>NEXT</button>
      </div>
    </div>
  </div>

</div>

<div class="awaiting">

</div>