<div class="main">
  <h1 class="heading">
    Payment details
  </h1>
  <p class="intro">
    To finalise your investment process, please deposit your share order amount to the given details below, and make
    sure
    you use the correct reference number as displayed below to avoid <i> delays in your shares approval. </i>
  </p>
  <!-- <hr> -->
  <div class="body">
    <div class="order">

      <div class="banking radio">
        <p>
          Select Bank
        </p>
        <div class="select-bank " (click)="selectBank(1)">
          <img class="fnb" src="assets/images/dashboard/icons/fnbicon.png" alt="">FNB
          <span class="selected active-{{isFnb}}"></span>
        </div>
        <div class="select-bank " (click)="selectBank(3)">
          <img class="ned" src="assets/images/dashboard/icons/nedbank.png" alt="">Nedbank 
          <span class="selected active-{{isNedbank}}"></span>
        </div>

        <div class="select-bank " (click)="selectBank(2)">
          <img class="str" src="assets/images/dashboard/icons/standatbankicon.png" alt=""> Standard  Bank
          <span class="selected active-{{isStandardBank}}"></span>
        </div>
      </div>
      <div class="banking fnb" *ngIf="isFnb">

        <div class="info ">
          <b>Bank Name</b>: FNB <br>
          <b>Account Number</b>:62816380795 <br>
          <b>Account holder</b>:CITGO AFRICA INVESTMENTS <br>
          <b>Branch code</b>: 260327 <br>
          <b>Amount</b> : {{amount  | currency:'ZAR'}}<br>
          <b>Reference</b> : {{ref}} <br>
        </div>
        <div class="image">
          <img src="assets/images/dashboard/fnb.svg" alt="">
        </div>
   
      <div class="btns">
        <button (click)="next()">NEXT</button>
      </div>
    </div>

    <div class="banking sbank" *ngIf="isStandardBank">

      <div class="info ">
        <b>Bank Name</b>: STANDARD BANK <br>
        <b>Account Number</b>: 10120850190 <br>
        <b>Account holder</b>: CITGO AFRICA INVESTMENTS<br>
        <b>Branch Code</b> 004805 <br>
        <b>Amount</b> : {{amount  | currency:'ZAR'}}<br>
        <b>Reference</b> : {{ref}} <br>
      </div>
      <div class="image">
        <img src="assets/images/dashboard/stbank.svg" alt="">
      </div>
      <div class="btns">
        <button (click)="next()">NEXT</button>
      </div>
    </div>

    <div class="banking fnb" *ngIf="isNedbank">

        <div class="info ">
          <b>Bank Name</b>: Nedbank <br>
          <b>Account Number</b>:1191213080 <br>
          <b>Account holder</b>:CITGO AFRICA INVESTMENTS <br>
          <b>Branch code</b>: 19500500 <br>
          <b>Amount</b> : {{amount  | currency:'ZAR'}}<br>
          <b>Reference</b> : {{ref}} <br>
        </div>
        <div class="image">
          <img src="assets/images/dashboard/icons/nedbank.png" alt="">
        </div>
      <div class="btns">
        <button (click)="next()">NEXT</button>
      </div>
    </div>
  </div>

</div>

<div class="awaiting" *ngIf="isDone">
  <div class="image">
    <img src="../../../../../assets/images/dashboard/hourglass-half-solid.svg" alt="">
  </div>
  <div>
    <h1>Awaiting deposit</h1>
    <p>
      Don't forget to make a deposit, when we receive your deposit, It will be updated to your wallet
    </p>
    <div class="btns">
      <button (click)="done()">DONE</button>
    </div>
  </div>
</div>
