@import "../../../../../assets/sass/variables";

.main {
  background: #ecf0f1;
  padding:5rem;
  height: 80vh;
  overflow-y: scroll;
  @media only screen and (max-width: 600px) {
    padding: 4rem 2rem;
    // height: auto;
  }

  .heading {
    text-align: center;
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: black;
  }

  .intro {
    color: #000;
    letter-spacing: 0ch;
    font-size: 0.8rem;
    background: #fff;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
  }

  .body {
    .banking {
      display: grid;
      grid-template-columns: 70% 30%;
      padding: 1.5rem 1rem;
      background: #fff;
      border-radius: 0.5rem;
      margin-bottom: 0;


      .image {
        text-align: center;

        img {
          width: 40%;

          @media only screen and (max-width: 600px) {
            // display: none;
            width: 80%;
          }
        }
      }
    }

    .radio {
      grid-template-columns: 100%;
      margin-bottom: 1rem;

      .select-bank {
        position: relative;
        display: grid;
        grid-template-columns: 70% auto;
        margin: 0.2rem;
        padding: 0.1rem;
        display: block;

        img.fnb {
          width: 3rem;
          position: relative;
          top: 0.5rem;
          display: inline;
          border: none;
          left: -6px;
        }

        img.str {
          width: 2rem;
          position: relative;
          top: 0.7rem;
          display: inline;
        }

        img.ned {
          width: 1.5rem;
          position: relative;
          top: 0.4rem;
          display: inline;
          margin-right: 1.5rem;
          left: .5rem;
        }

        .selected {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          border-radius: 1rem;
          background: #95a5a6c5;
          position: absolute;
          right: 0rem;
          top: 0.5rem;
        }

        .active-true {
          background: #6d2ba9;
        }
      }
    }

    .fnb {
      border-bottom: 3px solid #79e2e8;
      animation: moveInLeft .5s ease-out 0.1s;
      animation-fill-mode: backwards;
    }

    .sbank {
      border-bottom: 3px solid #0081c7;
      animation: moveInRight .5s ease-out 0.1s;
      animation-fill-mode: backwards;
    }

  }

  .error {
    color: $red-color;
  }

  .alert {
    color: $red-color;
  }

  @media only screen and (max-width: 600px) {
    // display: none;
  }

  .explainContract {
    color: #3498db;
    letter-spacing: 0ch;
    font-size: 0.8rem;
    font-style: italic;
  }

  .normal {
    font-style: normal;
    color: black;
  }
}

.awaiting {
  background: #3827b4;
  /* Old browsers */
  background: -moz-linear-gradient(left, #3827b4 0%, #6c18a4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3827b4 0%, #6c18a4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3827b4 0%, #6c18a4 100%);

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;

  color: #fff;
  padding: 20rem;
  padding-top: 10rem;

   
  @media only screen and (max-width: 600px) {
    padding: 0;
    padding: 1.5rem;
    padding-top: 5rem;
  }

  .image {
    text-align: center;

    img {
      width: 10%;
      @media only screen and (max-width: 600px) {

      width: 30%;
      }
    }


  }

  p {
    font-weight: 300;
  }

  .btns {
    text-align: center;
    padding: 1.5rem 1rem;
    padding-top: 5rem;

    button {
      text-align: center;
      background: #0081c7;
      padding: 2%;
      border: none;
      color: #fff;
      width: 8rem;
      font-weight: 700;
      border-radius: 0.2rem;
    }
  }
}


.btns {
  text-align: center;
  padding: 1.5rem 1rem;

  button {
    text-align: center;
    background: #0081c7;
    padding: 2%;
    border: none;
    color: #fff;
    width: 8rem;
    font-weight: 700;
    border-radius: 0.2rem;
  }
}
