@import '../../../assets/sass/variables';
.container{
    
    .main{
        padding: 2%;   
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        background: $blue-gray-color;   
        padding-bottom: 0;
         
    }
}
