@import '../../../../assets/sass/variables';



.dashboard-nav nav {
  background: $nav-background;
    &.top-nav {
    
    ul li a {
        color: $white-color;
     }   
   

   
  }

}

.dashboard-nav nav.topnav ul li a { 
    color: $white-color;   
    font-size: 1.2rem;
    margin-top: 1rem;
}

.col-1-of-3 {
  grid-template-columns: 25% 50% auto;
}

.buy-shares {
  
  float: right;
  margin: 15px 7rem;

  .button {
    background: white;
    color: black;
    padding: 1rem 2rem;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 400;
  }
}