<div class="overlay" *ngIf="showOverlay">
  <app-buy-share  *ngIf="showBuyShares"></app-buy-share>
</div>
<div class="dashboard-nav" *ngIf="client">
  <nav class="topnav col-1-of-3">
    <div class="logo">
      <img src="assets/images/dashboard/logo-white-bg.svg" alt="">
      <!-- <span>{{mylink}}</span>
      <input type="button" (click)="copylink()" value="copy my link" class="button share-link" /> -->
    </div>
    <ul class="nav-tems">
      <li class="container-1-of-1">
        <a routerLink="/dashboard/">My wallet</a>
      </li>
      <li class="container-1-of-1">
        <a [routerLink]="['my-refferals',client.ClientId]">My referrals</a>
      </li>
      <li class="container-1-of-1">
      </li>
      <li class="container-1-of-1">
        <a  [routerLink]="['buy-share',client.ClientId]" >Buy shares</a>
      </li>
    </ul>
    <ul>
      <li class="account container-col-1-of-3">
        <div class="nofication">
          <h1 class="dropbtn"><i class="fas fa-bell" (click)="not.toggle($event)"></i>
          </h1>


          <p-overlayPanel #not>
            <div class="notifications" *ngIf="notifications">
              <div *ngFor="let item of notifications">
                <h1 class="notification" (click)="openNotification(item)">{{item.message}}</h1>
              </div>
            </div>
          </p-overlayPanel>


        </div>
        <div class="user" *ngIf="client">
          <p-overlayPanel #op1>
            <h1> <a routerLink="my-profile">my profile</a></h1>
            <h1><a routerLink="" (click)="logout()">Logout</a></h1>
          </p-overlayPanel>
          <img src="assets/images/dashboard/user-female.svg" *ngIf="client.Gender=='Female'"
            (click)="op1.toggle($event)" alt="user image">
          <img src="assets/images/dashboard/user-male.svg" *ngIf="client.Gender=='Male'" (click)="op1.toggle($event)"
            alt="user image">
        </div>
        <div class="user">
          <h1>Hello {{client?.FirstName}}</h1>
        </div>

      </li>
    </ul>
  </nav>
</div>






<!-- Mobile nav bar starts here -->






<div class="open-mobilen-nav">
  <div class="logo">
    <a routerLink="/dashboard/">
      <img src="assets/images/home/icon-white-round.svg" alt="logo"></a>
  </div>
  <div class="menu">
    <img src="assets/images/dashboard/burger-menu.svg" (click)="openMobileNav()" alt="menu icon">
  </div>
</div>

<header *ngIf="showMobileNav" class="mobile-header col-1-of-2">
  <div class="logo">
    <img src="assets/images/dashboard/logo-white-bg.svg" alt="">
    <input type="button" value="copy my link" class="button share-link" />
  </div>
  <div class="menu-section">
    <img src="assets/images/dashboard/burger-menu.svg" alt="burger-menu">
  </div>
  <nav class="show-menu">


    <img src="assets/images/dashboard/close.svg" alt="close btn" class="close-btn" id="close-menu"
      (click)="closeMobileNav()">
    <ul class="mobile-ul">
      <li>
        <a routerLink="/dashboard/" (click)="closeMobileNav()" class="col-1-of-2"><img
            src="assets/images/dashboard/wallet.svg" class="menu-icons" alt="wallet-icon">
          <h1>My wallet</h1>
        </a>
      </li>  
      <li>
        <a routerLink="/dashboard/" (click)="closeMobileNav()" class="col-1-of-3"><img
            src="assets/images/dashboard/bell.svg" class="menu-icons" alt="bell-icon">
          <h1>My notifications</h1>
          <h1 class="circle">99</h1>
        </a>
      </li>
      <li>
        <a (click)="buyShares()" class="col-1-of-2"><img
            src="assets/images/dashboard/shares.svg" class="menu-icons" alt="shares-icon">
          <h1>Buy shares</h1>
        </a>
      </li>
      <li>
          <a [routerLink]="['my-refferals',client.ClientId]" (click)="closeMobileNav()" class="col-1-of-2"><img
              src="assets/images/dashboard/users.svg" class="menu-icons" alt="shares-icon">
            <h1>My referrals</h1>
          </a>
        </li>
        <li>
            <a [routerLink]="['my-refferals',client.ClientId]" (click)="logout()" class="col-1-of-2"><img
                src="assets/images/dashboard/logout.svg" class="menu-icons" alt="shares-icon">
              <h1 class="logout">Logout</h1>
            </a>
          </li>
    </ul>
  </nav>
</header>
