<div class="main" *ngIf="user">
  <div class="logo">
    <img src="assets/images/dashboard/logo-white-bg.svg" alt="">
  </div>
  <div class="menu" *ngIf="!IsUserAdmin">
    <div class="menu-item wallet">
      <a routerLink="/dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/wallet-bg.svg" class="menu-icons" alt="wallet-icon">
        <h1>My wallet</h1>
      </a>
    </div>
<!-- 
    <div class="menu-item buy-shares">
      <a [routerLink]="['buy-share',user.ClientId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/buy-shares.svg" class="menu-icons" alt="shares-icon">
        <h1>Buy shares</h1>
      </a>
    </div> -->

    <div class="menu-item referrals">
      <a [routerLink]="['my-refferals',user.ClientId]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/refs.svg" class="menu-icons" alt="shares-icon">
        <h1>My referrals</h1>
      </a>
    </div>
    <div class="menu-item enquire">
      <a [routerLink]="['enquire',user.ClientId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/inquire-bg.svg" class="menu-icons" alt="shares-icon">
        <h1>Inquire</h1>
      </a>
    </div>

  </div>


  <div class="menu" *ngIf="IsUserAdmin">
    <div class="menu-item wallet">
      <a routerLink="dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="wallet-icon">
        <h1>Dashboard</h1>
      </a>
    </div>




    <div class="menu-item enquire">
      <a routerLink="clients/4" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="shares-icon">
        <h1>Clients</h1>
      </a>
    </div>
   
    <div class="menu-item enquire">
      <a routerLink="shares/1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="shares-icon">
        <h1>Shares</h1>
      </a>
    </div>
    <div class="menu-item enquire">
      <a routerLink="with-drawals/2" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="assets/images/dashboard/citgo-silver.svg" class="menu-icons" alt="shares-icon">
        <h1>Withdrawals</h1>
      </a>
    </div>


  </div>
</div>
