<div class="cards" *ngIf="investmentsList; else nodata">
  <div class="card" *ngFor="let data of investmentsList">
    <div class="col-1-of-1">
      <div class="details-sec-1">
        <h1 class="share-name">
          {{data.Name}}
        </h1>
        <div class="growth"  *ngIf="data.StatusId!='3' || data.StatusId!='2'">
          <img src="assets/images/dashboard/arrow-up.svg" alt="arrow-up">
          <h1>
            {{data.Growth  | currency:'R'}}
          </h1>
        </div>

        <a class="status {{data.Status}}"> <span class="{{data.Status}}-BG"></span>{{data.Status}}</a>
        <a *ngIf="data.Status == 'PENDING'" class="remove" (click)="remove(data)"><i
            class="fas fa-trash-alt"></i>Remove</a>
      </div>

      <div class="details-sec-2">
        <h1>
          {{data.CreateDate | date:'mediumDate' }}
          <span class="label">Buy Date</span>
        </h1>

        <h1>
          {{data.Amount  | currency:'R'}}
          <span class="label">Buy Amount</span>
        </h1>
        <div class="col-1-of-1">
          <div>
            <!-- <h1 class="upload-proof-of-payment" *ngIf="data.Status == 'PENDING'" (click)="oplaodPOP(data)">
                UPLOAD PROOF OF PAYMENT
              </h1> -->
          </div>
          <!-- <div  class="info"  *ngIf="data.Status == 'AWAITING-CONFIRMATION'" >
                <p>We are processing your payment,
                  It can take  up to 24 hours for approval</p>
            </div> -->
          <div>
            <!-- <a [routerLink]="['share-details',data.InvestmentId]">More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="investmentsList.length==0">
      <p class="nodata">Client have no shares
        </p>
  </div>
</div>

<ng-template #nodata>
  <p class="nodata">Client have no shares
  </p>
</ng-template>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>