@import "../../../../../assets/sass/variables";
 

.main {
  background: #fff;
  padding: 8rem 3rem;
  @media only screen and (max-width: 600px) {
    padding: 8rem 0;
  }

  .dashboard-forms {
    padding: 0 20rem;
    label {
      color: black;
    }
    .col-1-of-1 {
      grid-gap: 0;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 600px) {
      padding: 0 2rem;
    }
  }
}
.controls {
  padding-bottom: 2rem;
}
.dashboard-forms .input-field {
  border: none;
  background: #ecf0f1;
  border-radius: 1rem;
  padding: 1.2;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  color: #192a56;
}

.button {
  background: $green-light;

  &:hover {
    border-bottom: 0;
  }
  &:disabled {
   opacity: .3;
    &:hover {
      background: $green-light;
      color: $white-color;
      border: none;
    }
  }
}

.error {
  color: $red-color;
}

.alert {
  color: $red-color;
}



@media only screen and (max-width: 600px) {
  // display: none;
}

.explainContract {
  color: #3498db;
  letter-spacing: 0ch;
}