@import '../../../../../assets/sass/variables';

.modal {
  left: 30%;
  top: 2%;
  width: 40%;
  height: 80vh;

  .popup-body {
    h1 {
      text-align: center;
      font-size: 2rem;
      color: #FFF;
      text-transform: capitalize;
    }
  }

  .dashboard-forms {
    .controls {
      padding: 2rem;

      .button {
        padding: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        background: #0652dd;
        background: linear-gradient(to right, #0652dd 40%, #0652dd 64%, #0652dd 64%, #064bd6 74%, #8928e8 100%);
        margin: 0 auto;
      }
    }

    .toLogin {
      h1 {
        float: left;
        padding: 2rem 0;
        font-size: 1.22rem;
        text-transform: capitalize;
        font-weight: 500;
        cursor: pointer;
        color: $white-color;
      }
    }


  }
}


@media only screen and (max-width: 600px) {
  .modal {
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;

    .modal-header .close-btn {
      margin: 1rem 0;
      cursor: pointer;
    }
    .popup-body {
      h1 {
        color: black;
        font-size: 1.444rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .dashboard-forms {
        .button {
          font-size: 1.2rem;
          margin: 0 auto;
          float: unset;
          letter-spacing: 0;
          font-weight: 500;
          padding: 1rem;
          width: 100%;
          text-align: center;
        }
      }
    }
    .col-1-of-1 {
      margin-bottom: 0;
      grid-gap: 0;
    }
  }
}
