<div class="banner-betta">
    <div class="header-content">
      <h1>
        <span class="heading-main">
            Get your access back!
        </span>
      </h1>
    </div>
  </div>
  <div class="main-container-betta">
    <div class="simple">
      <div class="tag">
        <h1>
          <span class="heading">
              Forgot Password
          </span>
          <div class="paragraph">
              With us it very easy to recover your password, but your security is our priority, 
              hence we sent you a reset link to your personal email address
          </div>
        </h1>
      </div>
      <div class="form">
          <form [formGroup]="rForm" (ngSubmit)="forgotPassword()" class="box form-group" class="dashboard-forms">

              <div class="col-1-of-1">
                <div class="controls">
                  <label for="">Email</label> <br />
                  <input type="email" class="input-field" formControlName="email" />
                  <div class="alert" *ngIf="!rForm.controls['email'].valid">
                    Email is requried
                  </div>
                </div>
              </div>
              <div class="controls">
                <input type="submit" value="send" class="button" [disabled]="!rForm.valid" />
              </div>
              <div class="actions">
                  <div class="reset-pass">
                      <a routerLink="/sign-in">Back to login</a>
                    </div>
              </div>
            </form>
      </div>
    </div>
  
  </div>
  
  
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  