@import '../../../../assets/sass/variables';
.footer {
    padding-top: 1rem;
    background:#440082;
    text-align: center;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    ul {
        list-style: none;

        a {
            text-decoration: none;
            color: #fff;

            &:Hover{
                color: $purple-dark-color;
                font-weight: 700;
            }
        }
    }

    h1 {
        .paragraph {
            color: #fff;
            font-size: 1rem;
            letter-spacing: 0;
            font-weight: 400;
            display: block;
            text-transform: lowercase;
        }
    }

    @media only screen and (max-width: 600px) {
        padding-top: 2rem;
        .container-col-1-of-3{
            grid-template-columns: 100%;
        }
      }
}