<div class="footer">
  <div class="container-col-1-of-3">
    <div>
      <ul>
        <li><a routerLink="/client-personal-details/new">Sign Up</a></li>
        <!-- <li><a routerLink="">How it works</a></li>
        <li><a routerLink="">Contact Us</a></li>
        <li><a routerLink="">Register</a></li>
        <li><a routerLink="">Login</a></li> -->
      </ul>
    </div>
    <div>
      <h1>
        <span class="paragraph">
            info@citgoafrica.com
        </span>
        <span class="paragraph">
            <!-- +27 31 555 2602 -->
        </span>
      </h1>
    </div>
    <div>
      <h1>
          <span class="paragraph">
              2019© CITGO AFRICA OIL
          </span>
      </h1>
    </div>
  </div>
</div>