.cards{
    display: grid;
    grid-template-columns: repeat(4,33%);
    .card{
        padding: 1rem;;
        margin: 1rem;
        background: #FFFFFF;
        border-radius: .5rem;
        display: grid;
        grid-template-columns: 70% 30%;
        padding-right: .3rem;

        h1{
            font-weight: 400;
            color: #4A235A;
            span{
                display: block;
                font-size: 40%;
                color: #707070;
            }
        }
        .img{
            float: right;
        }
    }
}