.cards {
  display: grid;
  grid-template-columns: repeat(4, 33%);
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
  .card {
    padding: 1rem;
    margin: 1rem;
    background: #ffffff;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-right: 0.3rem;

    h1 {
      font-weight: 400;
      color: #4a235a;
      span {
        display: block;
        font-size: 40%;
        color: #707070;
      }
    }
    .img {
      float: right;
    }
  }
}
