<div class="main-container" *ngIf="client">

  <div class="cards" *ngIf="client">
    <div class="card main-profile">
      <div class="back">
        <a (click)="back()">
          <img src="assets/images/dashboard/back.svg" alt="">
        </a>
      </div>
      <h1 class="profile-heading">
        Clients Profile
      </h1>
      <div class="prof-pic">
        <img *ngIf="client.Gender=='Female'" src="assets/images/dashboard/user-profile-female.svg" alt="">
        <img *ngIf="client.Gender=='Male'" src="assets/images/dashboard/user-profile-male.svg" alt="">
      </div>
      <div class="user-details">
        <h1>
          {{fullname}}
        </h1>
        <p>
          {{email}}
        </p>
        <p>
          {{cell}}
        </p>
      </div>

    </div>
    <div class="card">
      <div class="col-1-of-1">

        <div class="details-sec-2">
          <h1>
            {{client.FirstName }} {{client.Surname }}
            <span class="label">Full Name</span>
          </h1>

          <h1>
            {{client.Gender}}
            <span class="label">Gender</span>
          </h1>
          <h1>
            {{client.IDNumber}}
            <span class="label">ID Number</span>
          </h1>
          <h1>
            {{client.Country}}
            <span class="label">Country</span>
          </h1>
          <h1>
            {{client.Province}}
            <span class="label">Province</span>
          </h1>
          <h1>
            {{client.City}}
            <span class="label">City</span>
          </h1>
          <div></div>
          <div>
            <!-- <a class="edit" [routerLink]="['../update-personal-info',client.ClientId]">EDIT</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h1 class="heading">
        Clients bank details to withdraw money from Citgo Africa Oil
      </h1>
      <div class="col-1-of-1" *ngIf="client.BankName; else nobanking">

        <div class="details-sec-2">
          <h1>
            {{client.BankName }}
            <span class="label">Bank Name</span>
          </h1>

          <h1>
            {{client.AccountHolder}}
            <span class="label">Acc Holder</span>
          </h1>
          <h1>
            {{client.AccountNumber}}
            <span class="label">Acc Number</span>
          </h1>
          <h1>
            {{client.AccountType}}
            <span class="label">Acc Type</span>
          </h1>
          <div></div>
          <div>
            <!-- <a class="edit" [routerLink]="['../update-banking-info',client.ClientId]">EDIT</a> -->
          </div>
        </div>
      </div>

      <ng-template #nobanking>
        <p class="nodata">You have no bank details

          <a class="edit" [routerLink]="['../update-banking-info',client.ClientId]">ADD</a>
        </p>
      </ng-template>
    </div>

    <div class="card" *ngIf="beneficiaries">
      <h1 class="heading">
        Clients Beneficiaries
      </h1>
      <div class="col-1-of-1" *ngIf="beneficiaries.length; else noben">

        <div class="details-sec-2" *ngFor="let data of beneficiaries">
          <h1>
            {{data.Name }} {{data.Surname }}
            <span class="label">Full Name</span>
          </h1>

          <h1>
            {{data.Relation}}
            <span class="label">Relation</span>
          </h1>

          <div></div>
          <div>
            <!-- <a class="edit" [routerLink]="['../update-benefitiaries',data.BeneficiaryId]">EDIT</a> -->
          </div>
        </div>
      </div>

      <ng-template #noben>
        <p class="nodata">You have no beneficiaries

        </p>
      </ng-template>


    </div>

    <div class="card">
      <app-admin-view-client-stat></app-admin-view-client-stat>
    </div>
    <div class="card">
   <app-admin-view-client-shares></app-admin-view-client-shares>
    </div>
  </div>

  <div class="options">
    <button class="danger" *ngIf="client.ClientStatus != 10" (click)="block()">Block this client</button>
    <button class="danger success" *ngIf="client.ClientStatus == 10" (click)="unblock()">Unblock this client</button>
  </div>

</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>