<div class="banner">
  <div class="header-content">
    <h1>
      <span class="heading-main">
        how it works
      </span>
    </h1>
  </div>
</div>
<div class="main-container">
  <div class="simple col-1-of-2">
    <div class="tag">
      <h1>
        <span class="heading">
          We make it simple.
        </span>
        <div class="paragraph">
          Sign up quickly and be approved immediately to start investing
          and grasping this opportunity.
        </div>
      </h1>
    </div>
    <div class="image-mock">
      <img src="assets/images/dashboard/sign-up-mock.png" alt="sign up look">
    </div>
  </div>
  <div class="navigation">
    <h1>
      <span class="heading">
        Navigation simplified.
      </span>
    </h1>
    <div class="nav-image col-1-of-1">
      <img src="../../../../assets/images/dashboard/navigation.png" alt="nav show case">
    </div>
    <div class="points col-1-of-2">
      <h1>
        <span class="sub-heading">
          Copy my link
        </span>
      </h1>
      <h1>
        <span class="explainer">
          Be able to refer your friends and family who are serious about business growth.
        </span>
      </h1>
      <h1>
        <span class="sub-heading">
          My portfolio
        </span>
      </h1>
      <h1>
        <span class="explainer">
          Representational view of your current share growth and all your profits accumulated.
        </span>
      </h1>
      <h1>
        <span class="sub-heading">
          My referrals
        </span>
      </h1>
      <h1>
        <span class="explainer">
          All the people you have brought to the business. referral bonus t & c do apply.
        </span>
      </h1>
      <h1>
        <span class="sub-heading">
          My transactions
        </span>
      </h1>
      <h1>
        <span class="explainer">
          A representational view of your interactions with the system.
        </span>
      </h1>
      <h1>
        <span class="sub-heading">
          Key features
        </span>
      </h1>
      <h1>
        <span class="explainer">
          Allow active members of the system to buy shares and become part of the growing economy.
        </span>
      </h1>
    </div>
    <div class="features">
      <div class="features-heading">
        <h1>
          <span class="heading">
            Key features.
          </span>
        </h1>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="col-1-of-2">
            <i class="fas fa-chart-pie fa-2x circle-icon"></i>
            <h1>
              <span class="heading">
                Buy Shares
              </span>
              <span class="paragraph">
                Allow active members of the system to buy shares and become part of the growing economy.
              </span>
            </h1>
          </div>
          <!-- <div class="learn-more">
            <a routerLink="how-it-works" class="button">Learn More</a>
          </div> -->
        </div>
        <div class="card">
          <div class="col-1-of-2">
            <i class="fas fa-users fa-2x circle-icon"></i>
            <h1>
              <span class="heading">
                Grow network
              </span>
              <span class="paragraph">
                Even though this system is about making you tap in to the market we have also given you the opportunity
                to invite others.
              </span>
            </h1>
          </div>
          <!-- <div class="learn-more">
            <a routerLink="how-it-works" class="button">Learn More</a>
          </div> -->
        </div>
        <div class="card">
          <div class="col-1-of-2">
            <i class="fas fa-user-shield fa-2x circle-icon"></i>
            <h1>
              <span class="heading">
                Secured data
              </span>
              <span class="paragraph">
                Making integrity a priority we will never ask for any sensitive information such as card details.
              </span>
            </h1>
          </div>
          <!-- <div class="learn-more">
            <a routerLink="how-it-works" class="button">Learn More</a>
          </div> -->
        </div>
      </div>


    </div>
  </div>
</div>
