<div class="main" *ngIf="investment">
  <div class="row col-1-of-2">
    <div class="cards">
      <div class="card" (click)="AddRef()">
        <img src="assets/images/dashboard/chart-arrow.svg" alt="chat arrow up" />
        <div>
          <div class="col-1-of-2">
            <div>
              <h1>
                {{ investment[0].Name }}
                <span class="{{ investment[0].Status }}">
                  {{ investment[0].Status }}
                </span>
              </h1>
            </div>
            <div>
              <h1>
                {{ investment[0].InvestmentDate | date: "mediumDate" }}
                <span class="text">Investment date</span>
              </h1>
            </div>
          </div>
          <div class="col-1-of-1">
            <div>
              <h1>
                {{ investment[0].Profit | currency: "R" }}
                <span class="text">Profit amount</span>
              </h1>
            </div>
            <div>
              <h1>
                {{ investment[0].Amount | currency: "R" }}
                <span class="text">Buy amount</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs">
      <input type="radio" id="tab1" name="tab-control" checked />
      <input type="radio" id="tab2" name="tab-control" />
      <ul>
        <li title="Features">
          <label for="tab1" role="button"><br /><span>Transactions</span></label>
        </li>
        <li title="Delivery Contents">
          <label for="tab2" role="button"><span>Documents</span></label>
        </li>
      </ul>
      <div class="slider">
        <div class="indicator"></div>
      </div>
      <div class="content">
        <section>
          <h1>
            <span class="notification">
              no transactions available
            </span>
          </h1>
        </section>
        <section>
          <div class="cards" *ngIf="investment[0].DocumentId; else noDocuments">
            <div class="card documents" *ngFor="let doc of investment">
              <img
                src="assets/images/dashboard/bank-starement.svg"
                alt="share-icon"
              />
              <h1>
                {{ doc.DocumentName }}
                <span class="text">
                  description
                </span>
              </h1>
              <h1>
                Bank Document
                <span class="text">
                  type
                </span>
              </h1>
              <h1>
                {{ doc.UploadedDate | date: "mediumDate" }}
                <span class="text">
                  upload date
                </span>
              </h1>
              <a href="{{ doc.DocumentUrl }}" class="button" target="_blank">
                <h1>
                  Open
                </h1>
              </a>
            </div>
          </div>
          <ng-template #noDocuments>
            <h1>
              <span class="notification">
                no documents uploaded
              </span>
            </h1>
          </ng-template>
        </section>
      </div>
    </div>
  </div>

  <!-- 
  <div class="related-details">
    <div class="transictions">
      <h1>
        Transictions
      </h1>
    </div>
    <div class="documents">
      <h1>
        Documents
      </h1>

      <ul>
        <li *ngFor="let doc of investment">
          <div class="doc">
            <div>
              <img src="assets/images/dashboard/bank-starement.svg" alt="">
            </div>
            <div class="info">
              <h1>
                {{doc.DocumentName}}
                <span>
                  Description
                </span>
              </h1>

            </div>
            <div class="info">

              <h1>
                {{doc.UploadedDate|date:'mediumDate'}}
                <span>
                  Date Uploaded
                </span>
              </h1>
            </div>
            <div class="info">

              <h1>
                {{doc.DocStatus}}
                <span>
                  Status
                </span>
              </h1>
            </div>
            <div class="info">

              <a href="{{doc.DocumentUrl}}" target="_blank">View</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div> -->
</div>
