$sigle-share-dot-size: 0.8rem; 
.col-1-of-2 {
  grid-gap: 0rem;
}
.headers {
  &.col-1-of-2{
    grid-template-columns: repeat(2, 50%)
  }
}
.profit {
  display: grid;
  // grid-template-columns: 70% auto;
  background: #fff;
  padding: 2%;
  position: relative;
  width: 50rem;
  &.col-1-of-2 {
    grid-template-columns: 75% auto;
  }

  .withdrawal {
    .money {
      color: #192a56;
      span:nth-child(1) {
        font-weight: 100;
        font-size: 80%;
      }
      span:nth-child(2) {
        font-weight: 300;
        font-size: 150%;
      }
      span:nth-child(3) {
        font-weight: 200;
        font-size: 100%;
      }
    }
    ul {
      list-style: none;
      li {
        padding: 1%;
        .sigle-share {
          display: inline-block;
          width: $sigle-share-dot-size;
          height: $sigle-share-dot-size;
          border-radius: $sigle-share-dot-size;
          background: #2ecc71;
        }
      }
      .currency{
        font-weight: 500;
        font-size: 80%;
      }
    }
    .success {
      background: #2ecc71;
      @media only screen and (max-width: 600px) {
        margin-right: 2%;
      }
      &:disabled{
      background: #bdc3c7;
      color: #ecf0f1;

      }
    }
  }
  .bonus{
      position: absolute;
      bottom: 2rem;
      right: 2rem;
  }
.warning{
  display: block;
  width: 100%;
  padding: 1rem;
  color: #e74c3c;
}
  
  @media only screen and (max-width: 600px) {
    &.col-1-of-2 {
      grid-template-columns: 100%;
      grid-gap: 1rem;
    }

    .graph {
      display: none;
    }

    .bonus {
      position: inherit;
    }
  }
}
