<h1>
  My wallet
</h1>
<div class="profit col-1-of-2">
  <div class="graph">
    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
  </div>
  <div class="funds">
    <div class="withdrawal">
      <h1 class="money">
        <span>{{windrawal.currency}}</span>
        <span>{{windrawal.rand}}</span>
        <span>.{{windrawal.cents}}</span>
      </h1>
      <button class="button success">Withdraw now</button>
      <ul>
        <li *ngFor="let data of coloredProfitList">
          <span class="sigle-share" [style.background-color]="data.color"></span>  <span class="currency">{{currency}}</span>{{data.amount}}
        </li>
      </ul>
      <div class="bonus">
        <span class="label">
          Referral bonus:
        </span>
        <span class="value">
          <span class="currency">{{currency}}</span> {{bonus}}
        </span>
      </div>
    </div>
  </div>
</div>
