<div class="investments">
  <div class="cards">
    <div class="card col-1-of-2">
      <h1>
        <span class="main">
          Share 11
        </span>
      </h1>
      <h1>
        <span class="sub-main">
          2020/05/23
        </span>
      </h1>
      <div class="profit col-1-of-2">
        <img src="../../../../assets/images/dashboard/arrow-up.svg" alt="arrow-up">
        <h1>
          50600
        </h1>
      </div>
      <h1>
        5000
        <span class="span">
          buy amount
        </span>
      </h1>
    </div>
  </div>
</div>
