<div class="cards" *ngIf="investmentsList">
    <div class="card" *ngFor="let data of investmentsList">
      <div class="col-1-of-2">
        <div class="details-sec-1">
          <h1 class="share-name">
           {{data.Name}}
          </h1>
          <div class="growth">
            <img src="assets/images/dashboard/arrow-up.svg" alt="arrow-up">
            <h1>
              {{data.Amount  | currency:'R'}}
            </h1>
          </div>
        </div>

        <div class="details-sec-2">
            <h1>
              <span class="buy-date">
                {{data.CreateDate | date:'mediumDate' }}
              </span>
              <span class="buy-prince">
               {{data.Amount  | currency:'R'}}

              </span>
            </h1>
            <a [routerLink]="['share-details',data.InvestmentId]">More</a>
          </div>
      </div>
    </div>
  </div>
