.cards {
  grid-template-columns: 100%;
  .card {
    grid-template-columns: 100%;
    .col-1-of-2 {
      .details-sec-1 {
        .share-name {
          font-size: 1.555rem;
          font-weight: 700;
          color: #3827b4;
        }
        .growth {
          img {
            display: inline;
            height: 2rem;
          }
          h1 {
            display: inline;
          }
        }
      }
      .details-sec-2 {
        h1 {
          .buy-date {
          }
          .buy-prince {
          }
        }
        a {
          float: right;
        }
      }
    }
  }
}
.card {
  h1 {
    margin: 0;
    span {
      font-size: 100%;
      &.main {
        font-size: 1.555rem;
        font-weight: 700;
        color: #3827b4;
      }
      &.sub-main {
        font-weight: 500;
        color: #8a8e90;
        font-size: 1.222rem;
      }
      &.span {
        font-size: 40%;
      }
    }
  }

  &.col-1-of-2 {
    grid-template-columns: 60% 40%;
    img {
      height: 2rem;
    }
    .profit {
      &.col-1-of-2 {
        grid-gap: 0;
        grid-template-columns: 10% 90%;
        h1 {
          margin: 0;
          span {
            .span {
              font-size: 40%;
            }
          }
        }
      }
    }
  }
}
