
<h1>
  Active funds
</h1>
<div class="investments">
  <div class="table-container">
    <div class="wrap">
      <div class="table-wrapper">
        <table class="table-responsive card-list-table" *ngIf="investmentsList">
          <thead>
          </thead>
          <tbody>
            <tr *ngFor="let data of investmentsList">
              <td data-title="name" class="full-name">
                {{data.Name}}
                <span>{{status}}</span>
              </td>
              <td data-title="amount">
                <h1>
                  <span class="main">
                    R {{data.Amount}}
                  </span>
                  <div class="label">
                    Investment amount
                  </div>
                </h1>
              </td>
              <td data-title="profit">
                <h1>
                  <span class="main">
                    R {{data.Profit}}
                  </span>
                  <div class="label">
                    Current Profit
                  </div>
                </h1>
              </td>
              <td data-title="total">
                <h1>
                  <span class="main">
                    R {{data.Total}}
                  </span>
                  <div class="label">
                    Total Investment
                  </div>
                </h1>
              </td>
              <td>
                <input type="submit" value="view more" class="button" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
