.main {
  padding: 5rem;
  height: 80vh;
  overflow-y: scroll;
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
  

  h1 {
    font-size: 1.5rem;
  }

  .dashboard-forms {
    h1 {
      font-weight: 400;
      font-size: 1.5rem;
    }

    .controls {
      @media only screen and (max-width: 600px) {
        padding: 1rem 0;
      }

      label {
          color: rgb(47, 16, 56);
          font-size: 0.8rem;
        
      }

      .input-field {
        background: #fff;
      }

      .button {
        color: #6D2BA9;

        &:disabled {
          opacity: .4;
        }
      }

      .validations {
        padding: 1rem .2rem;
        color: rgb(0, 0, 0);

        .error {
          display: grid;
          grid-template-columns: 10% auto;
          margin: 0;
          padding: .5rem 0;
          align-self: center;

          .valid {
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            background: rgb(255, 255, 255);
            display: inline-block;
            margin-top: .3rem;
            border: 3px solid rgb(133, 133, 133);
          }

          .true {
            border: 3px solid #27ae60;
            color: #27ae60;
          }

          p {
            padding: 0;
            margin: 0;
          }
        }

      }
      .vals {
        background: white;
        padding: 2%;
        margin: 1rem 0;
        border-radius: .3rem;
      }
    }

  


  }

}
