@import '../../../../../assets/sass/variables';

.main-container {
  padding: 10%;
  @media only screen and (max-width: 600px) {
    padding: 15% 0;
    padding-top: 7rem;
  }

  h1 {
    font-size: 1.777rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  form {
    max-width: 40rem;
    margin: 0 auto;
    background: $white-color;
    padding: 4%;
    @media only screen and (max-width: 600px) {
      background:none;
    }

    .controls {
      padding: 1rem;

      .error {
        padding: 2rem;

        h1 {
          font-size: 1rem;
          font-weight: 500;
          color: $red-color;
          letter-spacing: 0;
        }
      }
    }

  }
}

.dashboard-forms {
  label {
    color: black;
  }

  .input-field {
    padding: 1rem;
    border: solid 1px $nav-background;

    @media only screen and (max-width: 600px) {
      border-radius: .5rem;
    }
  }

  .alert {
    color: $red-color;
  }

  .button {
    padding: 1.4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: .5rem;
    border: none;
    float: right;
    text-align: right;
    margin-right: -2rem;
    margin: 0;
    cursor: pointer;
    max-width: 75rem;
    background: $primary-color;

    @media only screen and (max-width: 600px) {
      border-radius: .5rem;
      letter-spacing: 0rem;
      padding: .9rem 1rem;
      margin: 0 auto;



    }

  }

}
