
<div class="main">
    <h1 class="form-headings">
       {{heading}}
      </h1>
      <form  *ngIf="rForm" [formGroup]="rForm" (ngSubmit)="updatePassword()" class="box form-group"
      class="dashboard-forms">
      <div class="col-1-of-1 ">
          <div class="controls">
              <label for="">Old Password</label> <br />
              <input type="password"   class="input-field" formControlName="OldPassword" />
              <div class="alert" *ngIf="!rForm.controls['OldPassword'].valid">
                  Old Password is requried
              </div>
            </div>
      
      </div>
      <div class="col-1-of-1 ">
       
          <div class="controls">
              <label for="">New Password</label>
              <span class="show-password" (click)="show()">
                  <i *ngIf="notShowing"  class="show fas fa-eye"></i>
                  <i  *ngIf="!notShowing"  class="hide fas fa-eye-slash"></i>
                </span>
              <br />
              <input type="password" id="pass" maxlength="15" class="input-field" formControlName="Password" />

              <div class="alert vals validations">
                  <!-- Password is requried -->
                  <div class="error">
                    <span class="valid {{validations.LENGHT.pass}}"></span>
                    <p>{{validations.LENGHT.error}}</p>
                  </div>
                  <div class="error">
                    <span class="valid {{validations.LOWER.pass}}"></span>
                    <p>{{validations.LOWER.error}}</p>
                  </div>
                  <div class="error">
                    <span class="valid {{validations.UPPER.pass}}"></span>
                    <p>{{validations.UPPER.error}}</p>
                  </div>
                  <div class="error">
                    <span class="valid {{validations.DIGITS.pass}}"></span>
                    <p>{{validations.DIGITS.error}}</p>
                  </div>
                  <div class="error">
                    <span class="valid {{validations.SPECIAL.pass}}"></span>
                    <p>{{validations.SPECIAL.error}}</p>
                  </div>
                </div>
            </div>
  
            <div class="controls">
                <label for="">Confirm New Password</label><br />
                <input type="password"  id="inputpasscon" class="input-field" formControlName="confirmPassword" />
                <div class="alert" *ngIf="!rForm.controls['confirmPassword'].valid ">
                  Confirmation of password is requried
                </div>
              </div>
      </div>

  
  
  
  <div class=" col-1-of-1 small-nav">
  
    <div class="controls">
      <input type="submit" value="UPDATE" class="button" [disabled]="!rForm.valid" />
    </div>
  </div>
  </form>
  
  </div>