@import '../../../../assets/sass/variables';

.banner {
 
  .header-content {
    padding: 10%;
    text-align: center;
    padding-top: 2rem;

    h1 {
      .heading-main {
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: capitalize;
        color: white;
      }
    }
  }
}

.main-container {
  margin: -5rem auto;
  width: 85%;
  background: white;
  margin-bottom: 5rem;

  border-radius: 5px;


  h1 {
    letter-spacing: 0;

    .heading {
      font-weight: 900;
      font-size: 1.6rem;

    }

    .paragraph {
      font-size: 0.8rem;
      width: 60%;
      margin-top: 1rem;
      line-height: 1.5rem;

      font-weight: 600;
    }

    .sub-heading {
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0 2rem;
      color: $primary-color;

    }

    .explainer {
      font-size: 1rem;

      font-weight: 500;
    }
  }

  .heading-container {
    background: $nav-background;
    color: $white-color;
    padding: 5rem 10rem;



    h1 {
      .heading-main {
        padding-bottom: 1rem;
      }

      .details {
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }

  .dashboard-forms {

    padding: 2.5rem 7rem;

    .input-field {
      font-size: 1.3rem;
      font-weight: 400;
      background: $blue-gray-color;
      padding: 1.3rem;
      border-radius: 1.5rem;
    }

    .col-1-of-1 {
      grid-gap: 0;
      margin-bottom: 0;
    }

    .button {
      background: $purple-dark-color;
      letter-spacing: 0;
      float: none;
      padding: 1.2rem 8.5rem;
      font-size: 1.4rem;
      font-weight: 500;
    }

    label {
      color: $primary-color;
    }

    .controls {
      margin: 2rem;

      .button {
        margin: 0;
        float: right;

        &:hover {
          border-bottom: 0;
        }
      }
    }

    .alert {

      color: #f9610cf0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    margin-bottom: 1rem;
    padding-top: 5rem;
    // background: $nav-background;

    .header-content {
      padding: 1rem;

      h1 {
        .heading-main {
          font-size: 1.65rem;
        }
      }

    }
  }

  .main-container {
    width: 100%;
    padding: 0;
    padding-bottom: 2rem;
    margin: -2rem auto;

    .heading-container {
      padding: 2rem .71rem;
      padding-top: 0;

      h1 {
        &.col-1-of-2 {
          grid-template-columns: repeat(2, auto);
        }

        .heading-main {
          font-size: 1.5rem;
        }

        .details {
          font-weight: 400;
        }
      }
    }

    .dashboard-forms {
      padding: 0;

      .controls {
        &.buttons{
          margin: 0;
        }
        .button {
          float: none;
          padding: 1.2rem 7.5rem;
          margin: 0;
        }
      }
    }

    .dashboard-forms {
      padding: 0 2rem;    
  
      .small-nav .nav {
        text-align: left;
        background: $blue-gray-color;
        border-radius: 10rem;
        margin-bottom: 2rem;
      }
  
      input::placeholder {
        color: $gray-color;
        font-weight: 700;
        margin-left: 3rem;
      }
      .col-1-of-2 {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-gap: 0rem;
      }
  
      label {
        display: none;
      }
      .input-field {
        font-size: 1rem;
      }

      .controls {
        margin: 0;
      }
    }

  }
}
