@import '../../../../../assets/sass/variables';
.actions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.5rem;
  padding: 0.2rem 1rem;

  input {
    border: none;
    color: #fff;
  }
  .add-more {
    background: #3498db;
    &:disabled{
        opacity: .3;
    }
  }
  .finish {
      background: #2ecc71;
      &:disabled{
          opacity: .3;
      }
  }
}

.card {
    padding-right: 1rem;
    grid-template-columns: 100%;

    h1 {
      font-size: 1.2rem;
      text-align: center;
      font-weight: 400;
    }

.details-sec-2 {
    display: grid;
    grid-template-columns: 50% 50%;

    h1 {
      font-size: .9rem;
      font-weight: 500;
      color: #7f8c8d;
      margin: .6rem 0;

      .label {
        display: block;
        font-size: .6rem;
        font-weight: 400;
        color: #7f8c8d;
        text-transform: uppercase;
        letter-spacing: .3rem;
      }

      &.upload-proof-of-payment {
        font-weight: 500;
        font-size: .7rem;
        color: $orange-color;
        margin: .211rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .edit {
      float: right;
      margin-right: 2rem;
    }

    .col-1-of-2 {
      grid-template-columns: 70% 30%;
      grid-gap: 0rem;
    }

    a {
      // margin: .5rem 0;
      // float: right;
      cursor: pointer;

      &:hover {
        color: #0a3977;
      }
    }
  }
}