<div class="awaiting" *ngIf="isDone">
    <div class="image">
      <img src="assets/images/dashboard/check-circle-regular.svg" alt="">
    </div>
    <div>
      <h1>Welcome!</h1>
      <p>
          Thank you for your perseverance while we making sure your account is secured.
          Your email address was verified successfully. now please create your password .
          
      </p>
      <div class="btns">
        <button (click)="updatePassword()">CREATE MY PASSWORD</button>
      </div>
    </div>
  </div>
<div class="awaiting" *ngIf="linkedUsed">
    <div class="image">
        <img src="assets/images/dashboard/exclamation-triangle-solid.svg" alt="">
      </div>
    <div>
      <h1>Sorry! Link Invalid</h1>
      <p>
          Sorry it's look like this link has been used before
          
      </p>
      <div class="btns">
      <a routerLink="/">  <button (click)="updatePassword()">HOME</button></a>
      </div>
    </div>
  </div>