$status-span:.7rem;

.main{
  padding: 8rem 3rem;
  @media only screen and (max-width: 600px) {
    padding: 8rem 0;
  }
  .card-info{
    padding: 2%;
    color: #fff;
    background: #3498db;
    margin-bottom: 3rem;;

    p{
      span{
        color:  #fcfcfc;
        padding: .6rem;
        font-weight: 800;
      }
      .link{
        color: rgb(99, 212, 99);
        cursor: pointer;

      }
      .copy{
        &:hover{
        color:  #00ff6a;
        font-weight: 900;
        cursor: pointer;
        transition: .5sec;

        }
      }
    }
   .close{
     text-align: right;
    a{
      color: rgb(245, 190, 88);
      cursor: pointer;
      font-weight: 900

    }
   }
  }

  .cards {
    grid-template-columns: repeat(4,25%);
    @media only screen and (max-width: 600px) {
      grid-template-columns: 100%;
    }
  
    .card {
      padding-right: 1rem;
      grid-template-columns: 100%;
  
      .col-1-of-2 {
        .details-sec-1 {
          .share-name {
            font-size: 1.22225rem;
            font-weight: 300;
            color: #3827b4;
          }
  
          .growth {
            padding: 1rem;
            h1 {
              display: inline;
              font-size: .9rem;
              font-weight: 400;
              color: #1b0225;
            }
          }
  
          .status {
            span {
              width: $status-span;
              height: $status-span;
              border-radius: $status-span;
              display: inline-block;
              margin-right: .5rem;
            }
          }
        }
  
       
      }
    }
  }
  
  .card {
    h1 {
      margin: 0;
  
      span {
        font-size: 100%;
  
        &.main {
          font-size: 1.555rem;
          font-weight: 700;
          color: #3827b4;
        }
  
        &.sub-main {
          font-weight: 500;
          color: #8a8e90;
          font-size: 1.222rem;
        }
  
        &.span {
          font-size: 40%;
        }
      }
    }
  
    &.col-1-of-2 {
      grid-template-columns: 60% 40%;
  
      img {
        height: 2rem;
      }
  
      .profit {
        &.col-1-of-2 {
          grid-gap: 0;
          grid-template-columns: 10% 90%;
  
          h1 {
            margin: 0;
  
            span {
              .span {
                font-size: 40%;
              }
            }
          }
        }
      }
    }
  }
  
}

.pending{
  color: orange;
}
.active{
  color: green;
}