<div class="main">
  <h1>
    My Refferals
  </h1>

  <div class="card-info" *ngIf="showTip">
    <h1>Tip!</h1>
    <p>
      <span>1</span> <span class="copy" (click)="copylink()">Copy</span> your link and share it. :  <span  (click)="copylink()" class="link">{{mylink}}</span>
    </p>
    <p>
      <span>2</span> Make sure your Referrals deposited funds on their accounts.
    </p>
    <p>
      <span>1</span> As soon as your Referrals deposit, you will immediately get your 5% bonus.
    </p>
    <div class="close">
      <a (click)="closeTip()">Close tip!</a>

    </div>
  </div>

  <div class="cards" *ngIf="refferals$ | async as refferals; else nodata">
    <div class="card" *ngFor="let data of refferals">
      <div class="col-1-of-2">
        <div class="details-sec-1">
          <h1 class="share-name">
           {{data.FirstName}} {{data.Surname}}
          </h1>
          <div class="growth">
            <h1>
              {{data.Email}}  
            </h1> <br>
            <p class="status active" *ngIf="data.StatusId == '3'">Active</p>
            <p class="status pending" *ngIf="data.StatusId =='4'">Pending</p>
          </div>
  
              <a class="status {{data.Status}}"> <span  class="{{data.Status}}-BG"></span>{{data.Status}}</a>
            
        </div>
  
      </div>
    </div>
  </div>

  <ng-template #nodata>
    <h1>
      Sorry
    </h1>
  </ng-template>
</div>

