<div class="main">
  <h1 class="heading">
    My Refferals
  </h1>

  <div class="card-info" *ngIf="showTip">
    <h1>Tip!</h1>
    <p>
      <span>1</span> <span class="copy" (click)="copylink()">Copy</span> your link and share it. : <span
        (click)="copylink()" class="link">{{mylink}}</span>
    </p>
    <p>
      <span>2</span> Make sure your Referrals deposited funds on their accounts.
    </p>
    <p>
      <span>3</span> As soon as your Referrals deposit, you will immediately get your 5% bonus.
    </p>
    <div class="close">
      <a (click)="closeTip()">Close tip!</a>

    </div>
  </div>

  <div *ngIf="refferals$ | async as refferals; else nodata">
    <div  class="cards" *ngIf="refferals.length; else zerodata">
      <div class="card" *ngFor="let data of refferals">
        <div class="name">
          <h4>
            {{data.FirstName}} {{data.Surname}}
          </h4>
        </div>
        <div class="value">
          <h4>
            <p class="status active" *ngIf="data.Amount">
              {{data.Amount | currency:'R'}}
              <span *ngIf="data.BonusStatus=='1'" class="status">available</span>
              <span *ngIf="data.BonusStatus=='2'" class="status">withdraw</span>
            </p>
            <p class="status " *ngIf="!data.Amount">R00.00</p>
          </h4>
        </div>
      </div>
    </div>
    <ng-template #zerodata>
      <h1>
        <span class="notification">
          no refferals available
        </span>
      </h1>
    </ng-template>
  </div>

  <ng-template #nodata>
    <h1>
      <span class="notification">
        no refferals available
      </span>
    </h1>
  </ng-template>
</div>
