.main {
  padding: 6% 12%;
}
.cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 1rem;
  padding: 1%;
  text-align: center;
  .card {
    background: #ffffff;
    padding: 5%;
    .card-header {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      .status{
          margin: 5% 3%;
          padding:  4% 3%;
          background: #66cf96;
          font-weight: 600;
          color: #ffffff;
          border-radius: .9rem;
      }
      .pending{
          background: #F9CA24;
      }
    }
    $profile-pic-size: 5rem;
    .profile-pic {
      background: #ecf0f1;
      width: $profile-pic-size;
      height: $profile-pic-size;
      border-radius: $profile-pic-size;
      margin: 2% auto;
      padding: 1%;
      padding-top: 1rem;;
      .fas {
        font-size: 3rem;
        color: #ffffff;
      }
    }
    .name,
    .email {
      text-align: center;
      padding-bottom: 1rem;
      h1 {
        font-weight: 700;
        font-size: 120%;
        color: #440082;
        letter-spacing: 0;
      }
      h2 {
        font-weight: 300;
        font-size: 120%;
        color: #440082;
        letter-spacing: 0;

      }
    }
  }
}
