.col-1-of-1{
    display: block;
    width: 100%;
    text-align: center;
 .button{
     float: none;
 }
}

.list{
    text-align: center;
    color: #fff;
    padding-top: 2%;
    font-weight: 100;
}

.modal{
    top:13%;
    @media only screen and (max-width: 600px) {
        top:1%;
    }
}