@import "../../../../../assets/sass/variables";

.col-1-of-1 {
  display: block;
  width: 100%;
  text-align: center;
  .button {
    float: none;
  }
}

.list {
  text-align: center;
  color: #fff;
  padding-top: 2%;
  font-weight: 100;
}

.modal {
  top: 13%;
  @media only screen and (max-width: 600px) {
    top: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .modal {
    padding: 0 2rem;
  }
  .dashboard-forms {
    .button {
      float: initial;
      color: $purple-dark-color;
      &:disabled {
        cursor: no-drop;
        color: #999595;
      }
    }

    .small-nav .nav {
      text-align: left;
      background: $blue-gray-color;
      border-radius: 10rem;
      margin-bottom: 2rem;
    }

    input::placeholder {
      color: $gray-color;
      font-weight: 700;
      margin-left: 3rem;
    }
    .col-1-of-2 {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-gap: 0rem;
    }

    label {
      display: none;
    }
  }

  .shadow-black {
    box-shadow: none;
  }
}


.center{
  text-align: center;
  color: #fff;
  @media only screen and (max-width: 600px) {
    color: #000;
  }
}