.col-1-of-1{
    display: block;
    width: 100%;
    text-align: center;
 .button{
     float: none;
 }
}

.list{
    text-align: center;
    color: #fff;
    padding-top: 2%;
    font-weight: 100;
}