@import '../../assets/sass/variables';

.banner-betta {
  background: #4a235a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin: -8rem 0;

  

  .header-content {
    padding: 10%;
    text-align: center;

    h1 {
      .heading-main {
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: capitalize;
        color: white;
      }
    }
  }
}

.main-container-betta {

  margin: -2rem auto;
  width: 85%;
  background: #ECF0F1;
  margin-bottom: 5rem;
  padding: 3%;
  border-radius: 5px;

  
  -webkit-box-shadow: 10px 10px 29px 19px rgba(0,0,0,0.18);
  -moz-box-shadow: 10px 10px 29px 19px rgba(0,0,0,0.18);
  box-shadow: 10px 10px 29px 19px rgba(0,0,0,0.18);

  @media only screen and (max-width: 600px) {
    margin-bottom: 0rem;
    box-shadow:none;

  }

  h1 {
    letter-spacing: 0;
    padding: .3rem;
    @media only screen and (max-width: 600px) {
      padding: 1rem;
    }

    .heading {
      font-weight: 900;
      font-size: 1.6rem;

    }

    .paragraph {
      font-size: 0.8rem;
      width: 100%;
      margin-top: 1rem;
      line-height: 1.5rem;

      font-weight: 600;
    }


  
  }
  .form{
    padding: 1rem;
    .dashboard-forms {
      h1 {
        font-weight: 400;
        font-size: 1.5rem;
      }
      .controls {
        @media only screen and (max-width: 600px) {
          padding: .3rem 0;
        }
        label {
          color: rgb(47, 16, 56);
          @media only screen and (max-width: 600px) {
            font-size: 0.8rem;
          }
        }
        .input-field {
          background: #fff;
          border-radius: .5rem;
          border: none;
          width: 100%;
          padding: .8rem 1rem;
        }
        .button{
            color: #6D2BA9;
            &:disabled{
                opacity: .4;
            }
        }
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .banner-betta {
    margin-bottom: 1rem;
    padding-top: 5rem;
    background: $nav-background;

    .header-content {
      padding: 1rem;

      h1 {
        .heading-main {
          font-size: 1.65rem;
        }
      }

    }
  }
  .main-container-betta {
    width: 95%;
    padding: 0;
    .simple {
      &.col-1-of-2 {
        grid-gap: 1rem;
      }
      .tag {
        padding: 0;
        h1 {
          text-align: center;
          .paragraph {
            width: 100%;
            font-weight: 400;
            text-transform: none;
          }
        }
      }
      .image-mock{
        img {
          height: 10rem;
        }
      }
    }

    .navigation {
      .nav-image {
        display: none;
      }
      h1 {
        text-align: center;
        margin-bottom: -1rem;
        .heading {
          font-weight: 500;
        }
      }
      .points {
        &.col-1-of-2 {
          grid-template-columns: 100%;
        }
      }

      .features {
        .features-heading {
          padding: 4rem 0rem;
          h1 {
            .heading {
              font-weight: 700;
            }
          }
        }

        .col-1-of-3 {
          grid-gap: 2rem;   
          grid-template-columns: repeat(1, auto);

          .card {
            width: 100%;
            h1 {
              .paragraph {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
    .banner-betta {
      margin-bottom: 1rem;
      padding-top: 5rem;
      background: $nav-background;
  
      .header-content {
        padding: 1rem;
  
        h1 {
          .heading-main {
            font-size: 1.65rem;
          }
        }
  
      }
    }
    .main-container {
      width: 95%;
      padding: 0;
      .simple {
        &.col-1-of-2 {
          grid-gap: 1rem;
        }
        .tag {
          padding: 0;
          h1 {
            text-align: center;
            .paragraph {
              width: 100%;
            }
          }
        }
        .image-mock{
          img {
            height: 10rem;
          }
        }
      }
  
      .navigation {
        .nav-image {
          display: none;
        }
        h1 {
          text-align: center;
          margin-bottom: -1rem;
          .heading {
            font-weight: 500;
          }
        }
        .points {
          &.col-1-of-2 {
            grid-template-columns: 100%;
          }
        }
  
        .features {
          .features-heading {
            padding: 4rem 0rem;
            h1 {
              .heading {
                font-weight: 700;
              }
            }
          }
  
          .col-1-of-3 {
            grid-gap: 2rem;   
            grid-template-columns: repeat(1, auto);
  
            .card {
              width: 100%;
              h1 {
                .paragraph {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
  